﻿
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    List<SelectListItem> categories = ViewBag.Categories;
    List<SelectListItem> sellers = ViewBag.Sellers;
    List<SelectListItem> brands = ViewBag.Brands;
    List<SelectListItem> wears = ViewBag.Wears;
    List<SelectListItem> availablecolors = ViewBag.AvailableColors;
}

<div class="container-fluid" style="margin-bottom:300px;">

    <div class="col-md-4 hidden-xs">
            <div style="margin-top:30px; text-align:left; margin-bottom:30px;">
                <a href="#"><input value="Manage Product" class="btn btn-primary" /></a>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-top:30px; text-align:center; margin-bottom:30px;">
                <h3>SizzlingMart - Add Product</h3>
            </div>
        </div>
        <div class="col-md-4 hidden-xs">
            <div style="margin-top:30px; text-align:right; margin-bottom:30px;">
                <a href="#"><input type="submit" value="Log Out ?" class="btn btn-primary" /></a>
            </div>
        </div>

    @using (Html.BeginForm("Add", "Products", FormMethod.Post, new { id = "addproduct", enctype = "multipart/form-data" }))
    {
        <div style="padding:15px; height:390px; margin-bottom:15px;">

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#generalpanel" data-toggle="tab">General Details</a></li>
                <li role="presentation"><a href="#filters" data-toggle="tab">Filters</a></li>
                <li role="presentation"><a href="#additionaldetails" data-toggle="tab">Additional Details</a></li>
                <li role="presentation"><a href="#dropdowns" data-toggle="tab">Dropdowns</a></li>
                <li role="presentation"><a href="#imagespanel" data-toggle="tab">Images</a></li>
            </ul>

            <div class="tab-content">
                @*GENERAL PANEL*@
                <div id="generalpanel" class="tab-pane active">
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.TextBox("Name", null, new { @class = "form-control", placeholder = "Type Product's Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.TextBox("MiniTitle", null, new { @class = "form-control", placeholder = "Type Product's Mini Title" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.TextBox("Description", null, new { @class = "form-control", placeholder = "Type Product's Description" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.TextBox("Condition", null, new { @class = "form-control", placeholder = "Type Product's Condition (if required)" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.TextBox("Weight", null, new { @class = "form-control", placeholder = "Type Product's Weight" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.TextBox("Code", null, new { @class = "form-control", placeholder = "Type Product's Code" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input id="Quantity" name="Quantity" type="number" min="0" class="form-control" placeholder="Type Product's Quantity" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="input-group-addon">Rs.</span>
                            <input id="Price" name="Price" type="number" min="0" class="form-control" placeholder="Type Product's Price" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="input-group-addon">Rs.</span>
                            <input id="DiscountedPrice" name="DiscountedPrice" type="number" min="0" class="form-control" placeholder="Type Product's Discounted Price" />
                        </div>
                    </div>
                </div>

                @*FILTERS PANEL*@
                <div id="filters" class="tab-pane">
                    <div class="form-group">
                        <div class="checkbox">
                            <p><b>Filters:</b></p>
                            <label>@Html.CheckBox("BestSeller") BestSeller</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Special") Special</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("ShowCase") ShowCase</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("IsFeatured") IsFeatured</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Availability") Availability</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Promotion") Promotion</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("IsActive") IsActive</label>&nbsp;&nbsp;<br /><br />
                            <p><b>Number Of Pieces:</b></p>
                            <label>@Html.CheckBox("OnePiece") OnePiece</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("TwoPiece") TwoPiece</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("ThreePiece") ThreePiece</label>&nbsp;&nbsp;<br /><br />
                            <p><b>Labels:</b></p>
                            <label>@Html.CheckBox("SaleLabel") SaleLabel</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("NewLabel") NewLabel</label>&nbsp;&nbsp;<br /><br />
                            <p><b>Seasons:</b></p>
                            <label>@Html.CheckBox("Fall") Fall</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Winter") Winter</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Spring") Spring</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Summer") Summer</label>&nbsp;&nbsp;
                            <br /><br />
                            <p><b>Available Colors:</b></p>
                            @foreach (var c in availablecolors)
                            {
                                <label>@Html.CheckBox(c.Text) @c.Text</label><text>&nbsp;&nbsp;</text>
                            }
                            <br /><br />
                            <p><b>Available Sizes:</b></p>
                            <label>@Html.CheckBox("ExtraSmall") Extra Small</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Small") Small</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Medium") Medium</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Large") Large</label>&nbsp;&nbsp;
                            <label>@Html.CheckBox("Extralarge") Extra large</label>&nbsp;&nbsp;
                            <br /><br />
                        </div>
                    </div>
                </div>

                @*ADDITIONAL DETAILS PANEL*@
                <div id="additionaldetails" class="tab-pane">
                    @Html.TextArea("AdditionalDetails", null, new { @class = "form-control", placeholder = "Write Product's Additional Details Here...", rows = 10 })
                </div>

                @*DROPDOWN PANEL*@
                <div id="dropdowns" class="tab-pane">
                    <div class="form-group">
                        <div class="input-group">
                            <p><b>Select CATEGORY and then a SUBCATEGORY/SecondSubCategory from the list below:</b></p>
                            <div id="catdiv" style="float:left;padding-right:5px; padding-top:15px;">
                                @Html.DropDownList("Category", categories, " - Select Category - ", new { @class = "form-control" })
                            </div>
                            <div id="subcatdiv" style="float:left; padding-right:5px; padding-top:15px;">

                            </div>
                            <div id="fabricsdiv" style="float:left; padding-top:15px;">

                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="input-group">
                            <p><b>Select SecondSubCategory from the list:</b></p>
                            <div id="wearsdiv" style="float:left;padding-right:5px; padding-top:15px;">
                                @Html.DropDownList("Wear", wears, " - Select Wear - ", new { @class = "form-control" })
                            </div>
                            <div id="fabricsdiv" style="float:left; padding-top:15px;">

                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="input-group">
                            <p><b>Select SELLER from available Seller's List:</b></p>
                            <div id="sellersdiv" style="float:left;padding-right:5px; padding-top:15px;">
                                @Html.DropDownList("Seller", sellers, " - Select Seller - ", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <p><b>Select BRAND from available Brand's List:</b></p>
                            <div id="brandsdiv" style="float:left;padding-right:5px; padding-top:15px;">
                                @Html.DropDownList("Brand", brands, " - Select Brand - ", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                @*IMAGES PANEL*@
                <div id="imagespanel" class="tab-pane" style="padding-top:15px">
                    <input id="file1" name="photo1" type="file" /><br />
                    <input id="file2" name="photo2" type="file" /><br />
                    <input id="file3" name="photo3" type="file" /><br />
                    <input id="file4" name="photo4" type="file" /><br />
                    <input id="file5" name="photo5" type="file" /><br />
                    <input id="file6" name="photo6" type="file" /><br />
                    <input id="file7" name="photo7" type="file" /><br />
                    <input id="file8" name="photo8" type="file" /><br />
                    <input id="file9" name="photo9" type="file" /><br />
                    <input id="file10" name="photo10" type="file" /><br />
                </div>

                <div style="margin-top:30px; margin-bottom:50px;">
                    <div class="form-group">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.mega-menu-category').slideUp();
    });
</script>

<script type="text/javascript">
        $("#Category").change(function () {
            var cid = $(this).select("option:selected").val();

            //var orderid = ("#OrderId").val();
            $.ajax(
                {
                    url: "/Products/SubCategories/" + cid,
                    type: "get"
                }
            ).done(function (result) {
                $("#subcatdiv").html(result);
            });
        });
        $("#subcatdiv").change(function () {
            var cid = $("#SecSubCat").val();
            $.ajax(
                {
                    url: "/Products/SecondSubCategory/" + cid,
                    type: "get"
                }
            ).done(function (result) {
                $("#fabricsdiv").html(result);
            });
        });
</script>