﻿@using SizzlingMart.Controllers
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    TempData.Keep("CountItems");
    int counter = (int)TempData["CountItems"];
    float totalamount = 0;
    int itemscount = 0;
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart">
                <div class="page-title">
                    <h2>Sizzling Cart</h2>
                    <h5>Number of items added: <b>@TempData["CountItems"]</b></h5>
                </div>
                @if (counter == 0)
                {
                    <div class="container">
                        <div class="row">
                            <div id="content" class="col-sm-12">
                                <section class="content-wrapper bounceInUp animated">
                                    <div class="container">
                                        <div class="std">
                                            <div class="page-not-found">
                                                <h2></h2>
                                                <h3>Your shopping cart is empty!</h3>
                                                <div><a href="/Home/Index/" class="btn-home"><span>Continue Shopping</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    <div class="row">
                        <div id="content" class="col-sm-12">

                            @using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Post, new { id = "editcart", enctype = "multipart/form-data" }))
                            {
                                <div class="table-responsive">
                                    <table class="data-table cart-table" id="shopping-cart-table">
                                        <thead>
                                            <tr>
                                                <td class="text-center">Image</td>
                                                <td class="text-left">Product Name</td>
                                                <td class="text-left">Code</td>
                                                <td class="text-left">Quantity</td>
                                                <td class="text-left">Unit Price (PKR)</td>
                                                <td class="text-left">Total (PKR)</td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (CartItem item in (List<CartItem>)Session["cart"])
                                            {
                                                totalamount = totalamount + item.addtocart.Price * item.Quantity;
                                                itemscount = itemscount + 1;

                                                <tr>
                                                    <td class="text-center"  style="max-height:100px">
                                                        <a href="#"><img src="@Url.Content(item.addtocart.ImageUrl)" alt="@item.addtocart.Name" title="@item.addtocart.Name" class="img-thumbnail img-responsive" style="width:100px;height:121px" /></a>
                                                    </td>
                                                    <td class="text-left">
                                                        <a href="/Products/ProductDetails/@item.addtocart.Id">@item.addtocart.Name</a>
                                                    </td>
                                                    <td class="text-left">@item.addtocart.Code</td>
                                                    <td class="text-left">
                                                        <div class="input-group btn-block" style="max-width: 200px;">
                                                            <input type="text" name="quantity" value="@item.Quantity" size="1" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                                <a href="/ShoppingCart/Delete/@item.addtocart.Id" data-toggle="tooltip" title="Remove" class="button btn btn-danger" onclick=""><i class="fa fa-times-circle"></i></a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td class="text-left">PKR: @item.addtocart.Price/-</td>
                                                    <td class="text-left">PKR: @(item.addtocart.Price * item.Quantity)/-</td>
                                                </tr>
                                                TempData["Total"] = totalamount;
                                                TempData["TotalItems"] = TempData["CountItems"];
                                                TempData.Keep("Total");
                                                TempData.Keep("TotalItems");
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }

                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <h2>Important Instructions</h2>
                                    <p>Below are some important instructions that you should know before placing your orders.</p>
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">For Bridal & Party Wears<i class="fa fa-caret-down"></i></a></h4>
                                            </div>
                                            <div id="collapse-coupon" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;We are providing a facility for our customers that, our seller's representative will visit at your place and will show you the samples(one or maximum two) of your selected product.
                                                    </p>
                                                    <p>
                                                        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;This visit will cost Rs. 400/- which is not refundable even if you don't buy the product after examining the sample.
                                                    </p>
                                                    <p>
                                                        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;That representative will take the required measurements. These suits are available in both stitched and un-stitched form.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a href="#collapse-shipping" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">For Casuals, Replicas, Sarees & Jewellery<i class="fa fa-caret-down"></i></a></h4>
                                            </div>
                                            <div id="collapse-shipping" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;In case of any damaged/defective product, SizzlingMart will provide an alternative for that. You should inform us about the defective product within 2 days after delivery.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-right"><strong>Sub Total:</strong></td>
                                            <td class="text-right">PKR: @TempData["Total"]/-</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><strong>Delivery Charges:</strong></td>
                                            <td class="text-right">Free Nationwide</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><strong>Total:</strong></td>
                                            <td class="text-right">PKR: @TempData["Total"]/-</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="pull-left">
                                    <!-- <a href="" class="btn btn-default"></a> -->
                                    <a href="/Home/" class="button btn-continue" type="button"><span>Continue Shopping</span></a>
                                </div>
                                <div class="pull-right">
                                    <!-- <a href="" class="btn btn-primary"></a> -->
                                    <a href="/CheckOut/Check/"  class="button btn-continue" type="button"><span>Checkout</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.mega-menu-category').slideUp();
    });
</script>
