﻿@model SizzlingMart.Models.ViewModel.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int counter = Convert.ToInt32(TempData["Attempts"]);
}
<style>
    .myclass2{
    margin-top:10px;
    margin-bottom:10px;
    }
    .myclass{
        margin-top:18px;
    }
    /*.messagediv {
        padding: 0px;
    }*/
</style>

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="account-login">
            <div class="row">

                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/Home/Index/">Home</a>
                            </li>
                            <li>
                                <span>/</span><a href="#">Account</a>
                            </li>
                            <li><span>/</span>Login</li>

                        </ul>
                    </div>
                </div>
                @if (TempData["error"] != null)
                {
                    <div class="col-sm-12 messagediv" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> @TempData["error"] <button type="button" class="close" data-dismiss="alert">&times;</button></div></div>
                }
                <div id="content" class="col-sm-12">
                    <div class="page-title"><h2>Account Login</h2></div>
                    <div class="col2-set">
                        <div class="col-1 new-users">
                            <div class="content">
                                <h2>New Customer</h2>
                                <p><strong>Register Account</strong></p>
                                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                <!-- <a href="" class="btn btn-primary"></a> -->
                                <a href="/Users/Register/" class="button continue"><span>Continue</span></a>
                            </div>
                        </div>
                        <div class="col-2 registered-users">
                            <div class="content">
                                <h2>Returning Customer</h2>
                                <p><strong>I am a returning customer</strong></p>

                                <div class="row">


                                    @using (Html.BeginForm("Login", "Users", new { rurl = ViewBag.ReturnUrl, autocomplete = "off" }, FormMethod.Post))
                                    {
                                        @Html.Hidden("Attempts", counter);

                                        <div class="form-group-required">
                                            <label for="Email1" class="control-label col-sm-2">Email:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                                                    @Html.EditorFor(model => model.Email1, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Email1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group-required">
                                            <label for="Password1" class="control-label col-sm-2">Password:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                                                    @Html.EditorFor(model => model.Password1, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Password1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-left:15px;">
                                            <label for="RememberMe1" class="control-label">
                                                @Html.CheckBoxFor(model => model.RememberMe1) Remember Me
                                            </label>
                                        </div>



                                        <div class="container">

                                            <button type="submit" class="button login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login </button>&nbsp;&nbsp;
                                            
                                            <a href="#">Forgot Password</a>
                                        </div>
                                        @*<input type="hidden" name="redirect" value="#" />*@
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax(
            {
                url: "/ShoppingCart/CartCounter",
                type: "get"
            }
        ).done(function (result) {
            $("#showresult").html(result);
        });

        jQuery('.mega-menu-category').slideUp();
    });
</script>

