﻿@using SizzlingMart.Models.User
@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int id;
}

@if (Session[WebUtil.CURRENT_USER] != null)
{
    User user = (User)Session[WebUtil.CURRENT_USER];
    id = user.Id;
    <div class="main-container col2-right-layout">
        <div class="main container">
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a href="/Home/">Home</a>
                    </li>
                    <li><span>/</span>                            <strong>My Account</strong>            </li>

                </ul>
            </div>
            <div class="row">

                <div id="content" class="col-sm-9">
                    <div class="col-main">
                        <div class="my-account">
                            <h2>My Account</h2>
                            <ul class="list-unstyled">
                                <li><a href="/Users/EditAccount/">Edit your account information</a></li>
                                <li><a href="/Users/ChangePassword/">Change your password</a></li>
                            </ul>
                            <h2>My Orders</h2>
                            <ul class="list-unstyled">
                                <li><a href="/Users/MyOrders/@id">View your order history</a></li>
                            </ul>
                            <h2>My Wishlist</h2>
                            <ul class="list-unstyled">
                                <li><a href="/WishList/CheckWishlist/@id">View/Modify your wishlist</a></li>
                            </ul>
                            <br />
                            <br />
                            <p>For any query/suggestions you can email us at <a href="mailto:info@sizzlingmart.com"><b>info@sizzlingmart.com</b></a></p>
                            <p>Thank you for being our valued customer!</p>
                        </div>
                    </div>
                </div>
                <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                    <div class="block block-account">
                        <div class="block-title">
                            Quick Links
                        </div>
                        <div class="block-content">
                            <ul>
                                <li><a href="/Users/MyAccount/">My Account</a></li>
                                <li><a href="/Users/EditAccount/">Edit Account</a></li>
                                <li><a href="/Users/ChangePassword/">Change Password</a></li>
                                <li><a href="/WishList/CheckWishlist/@id">Wishlist</a></li>
                                <li><a href="/Users/MyOrders/@id">Order History</a> </li>
                                <li><a href="/Users/Logout/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $.ajax(
            {
                url: "/ShoppingCart/CartCounter",
                type: "get"
            }
        ).done(function (result) {
            $("#showresult").html(result);
        });

        $(document).ready(function () {
            jQuery('.mega-menu-category').slideUp();

        });
    </script>
}
else
{
    { Response.Redirect("~/Home/"); }
}

