﻿
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <h1>Your Account Has Been Created!</h1>
    <h3>Congratulations! Your new account has been created successfully!</h3>
    <br />
    <p>You can now take advantage of member privileges to enhance your online shopping experience with us.</p>
    <p>If you have ANY questions about the operation of this online shop, please e-mail the store owner.</p>
    <p>A confirmation has been sent to the provided e-mail address. If you have not received it within the hour, please contact us.</p>
    <br />
    <br />
    <a href="/Home/Index" class="button continue"> Continue </a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax(
            {
                url: "/ShoppingCart/CartCounter",
                type: "get"
            }
        ).done(function (result) {
            $("#showresult").html(result);
        });

        jQuery('.mega-menu-category').slideUp();
    });
</script>