﻿@using SizzlingMart.Controllers
@{
    ViewBag.Title = "Sizzling Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    TempData.Keep("CountItems");
    int counter = (int)TempData["CountItems"];
    float totalamount = 0;
    int itemscount = 0;
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart">
                <div class="page-title">
                    <h2>Sizzling Cart</h2>
                    <h5>Number of items added: <b>@TempData["CountItems"]</b></h5>
                </div>
                @if (counter == 0)
                {
                    <div class="container">
                        <div class="row">
                            <div id="content" class="col-sm-12">
                                <section class="content-wrapper bounceInUp animated">
                                    <div class="container">
                                        <div class="std">
                                            <div class="page-not-found">
                                                <h2></h2>
                                                <h3>Your shopping cart is empty!</h3>
                                                <div><a href="/Home/Index/" class="btn-home"><span>Continue Shopping</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                        <div class="row">
                            <div id="content" class="col-sm-12">

                                @using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Post))
                                {
                                    <div class="table-responsive">
                                        <table class="data-table cart-table" id="shopping-cart-table">
                                            <thead>
                                                <tr>
                                                    <td class="text-center">Image</td>
                                                    <td class="text-left">Product Name</td>
                                                    <td class="text-left">Code</td>
                                                    <td class="text-left">Quantity</td>
                                                    <td class="text-right">Unit Price</td>
                                                    <td class="text-right">Total</td>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (CartItem item in (List<CartItem>)Session["cart"])
                                                {
                                                    totalamount = totalamount + item.addtocart.Price * item.Quantity;
                                                    itemscount = itemscount + 1;

                                                    <tr>
                                                        <td class="text-center">
                                                            <a href="#"><img src="@Url.Content(item.addtocart.ImageUrl)" alt="@item.addtocart.Name" title="@item.addtocart.Name" class="img-thumbnail img-responsive" style="width:100px;height:121px" /></a>
                                                        </td>
                                                        <td class="text-left">
                                                            <a href="/Products/ProductDetails/@item.addtocart.Id">@item.addtocart.Name</a>
                                                        </td>
                                                        <td class="text-left">@item.addtocart.Code</td>
                                                        <td class="text-left">
                                                            <div class="input-group btn-block" style="max-width: 200px;">
                                                                <input type="text" name="quantity" value="@item.Quantity" size="1" class="form-control" />
                                                                <span class="input-group-btn">
                                                                    <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                                    <a href="/ShoppingCart/Delete/@item.addtocart.Id" data-toggle="tooltip" title="Remove" class="button btn btn-danger" onclick=""><i class="fa fa-times-circle"></i></a>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">@item.addtocart.Price</td>
                                                        <td class="text-right">@(item.addtocart.Price * item.Quantity)</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                }
                                    

                                <div class="row">
                                    <div class="col-sm-8 col-xs-12">
                                        <h2>What would you like to do next?</h2>
                                        <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Use Coupon Code <i class="fa fa-caret-down"></i></a></h4>
                                                </div>
                                                <div id="collapse-coupon" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <label class="col-sm-2 control-label" for="input-coupon">Enter your coupon here</label>
                                                        <div class="input-group">
                                                            <input type="text" name="coupon" value="" placeholder="Enter your coupon here" id="input-coupon" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <input type="button" value="Apply Coupon" id="button-coupon" data-loading-text="Loading..." class="btn btn-primary" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><a href="#collapse-shipping" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Estimate Shipping &amp; Taxes <i class="fa fa-caret-down"></i></a></h4>
                                                </div>
                                                <div id="collapse-shipping" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><a href="#collapse-voucher" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Use Gift Certificate <i class="fa fa-caret-down"></i></a></h4>
                                                </div>
                                                <div id="collapse-voucher" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <label class="col-sm-2 control-label" for="input-voucher">Enter your gift certificate code here</label>
                                                        <div class="input-group">
                                                            <input type="text" name="voucher" value="" placeholder="Enter your gift certificate code here" id="input-voucher" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <input type="submit" value="Apply Gift Certificate" id="button-voucher" data-loading-text="Loading..." class="btn btn-primary" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td class="text-right"><strong>Sub-Total:</strong></td>
                                                <td class="text-right">$100.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Total:</strong></td>
                                                <td class="text-right">$122.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <div class="pull-left">
                                        <!-- <a href="" class="btn btn-default"></a> -->
                                        <button class="button btn-continue" type="button"><span><span>Continue Shopping</span></span></button>
                                    </div>
                                    <div class="pull-right">
                                        <!-- <a href="" class="btn btn-primary"></a> -->
                                        <button class="button btn-proceed-checkout" type="button"><span>Checkout</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.mega-menu-category').slideUp();
    });
</script>
