﻿
@{
    ViewBag.Title = "StepsToOrder";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <div id="content">

        <div class="container">
            <div class="row">
                @*<div class="col-md-3 col-md-4 col-sm-3 hidden-xs">
                    <div class="featured-add-box">
                        <div class="featured-add-inner">
                            <a href="#"> <img src="~/Content/Images/WebImages/SidePic1.jpg" alt="Replicas"></a>
                            <div class="banner-content">
                                <div class="banner-text1">Replica</div>
                                <div class="banner-text">COLLTECTION</div>
                                <p>. . .</p>
                                <a href="#" class="view-bnt">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div id="alertmessage"></div>

                <div class="col-md-9 col-sm-9 col-xs-12 home-slider">
                    <h1>Steps To Order</h1>

                    <h3>For Birdal & Party Wears</h3>
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 1:</b> Click on 'ADD TO CART' button. (Product will be added into your cart. You may also change the quantity of product otherwise, by default quantity is 'one')</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 2:</b> Click on 'CART' button at top right corner.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 3:</b> Click on 'CHECKOUT' button after confirming your order details and quantity. (You need to get registered first at this step)</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 4:</b> Click on 'CONFIRM ORDER' button to place your order.</p>
                    <br />
                    <p>
                        <b>Note:</b> We are providing a facility for our customers that, our seller's representative will visit at your place and will show you the samples(one or maximum two) of your selected product.<br /><br />
                        This visit will cost Rs. 400/- which is not refundable even if you don't buy the product after examining the sample.<br /><br />
                        That representative will take the required measurements. These suits are available in both stitched and un-stitched form.
                    </p>

                    <h3>For Casual wear and Replicas</h3>
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 1:</b> Click on 'ADD TO CART' button. (Product will be added into your cart. You may also change the quantity of product otherwise, by default quantity is 'one')</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 2:</b> Click on 'CART' button at top right corner.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 3:</b> Click on 'CHECKOUT' button after confirming your order details and quantity. (You need to get registered first at this step)</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 4:</b> Click on 'CONFIRM ORDER' button to place your order.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.ajax(
        {
            url: "/ShoppingCart/CartCounter",
            type: "get"
        }
    ).done(function (result) {
        $("#showresult").html(result);
    });
</script>
