﻿
@{
    ViewBag.Title = "TermsConditions";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <div id="content">

        <div class="container">
            <div class="row">
                @*<div class="col-md-3 col-md-4 col-sm-3 hidden-xs">
                    <div class="featured-add-box">
                        <div class="featured-add-inner">
                            <a href="#"> <img src="~/Content/Images/WebImages/SidePic1.jpg" alt="Replicas"></a>
                            <div class="banner-content">
                                <div class="banner-text1">Replica</div>
                                <div class="banner-text">COLLTECTION</div>
                                <p>. . .</p>
                                <a href="#" class="view-bnt">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div id="alertmessage"></div>

                <div class="col-md-9 col-sm-9 col-xs-12 home-slider">
                    <h1>Terms & Conditions</h1>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;Sizzling Mart is hereby known as "we", "us", "sizzlingmart" or "the mart".</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;If you make an account, you are responsible for maintaining your account and password confidentialy. You agree to take the responsibilty for all the activities occured your account/password.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;If you are under 18, you should use sizzlingmart.com under the supervision of an adult, a parent or a guardian.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;To access all the facilities provided by sizzlingmart, you must create an account by providing all the required information.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;Ensure that the information you have provided is complete and correct.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;Your access to the site may be suspended due to maintainence at any time without any prior notice.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;Reviews or comments given by users will become our property. No one would be allowed to make changes in it.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;Sizzlingmart.com, its logo and all other marks on our site is the property of SizzlingMart. All rights are reserved.</p>
                    <br />
                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;If you do not agree with any of the clause mentioned above, do not use sizzlingmart.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
            $.ajax(
                {
                    url: "/ShoppingCart/CartCounter",
                    type: "get"
                }
            ).done(function (result) {
                $("#showresult").html(result);
                });
</script>

