﻿@using SizzlingMart.Models.User
﻿@model SizzlingMart.Models.ViewModel.EditModel
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@if (Session[WebUtil.CURRENT_USER] != null)
{
    User user = (User)Session[WebUtil.CURRENT_USER];
    int id = user.Id;
    <style>
        @@media (min-width:768px) {
            .form-horizontal .control-label {
                padding-top: 0px;
            }
        }
    </style>
    <div class="main container">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="/Home/">Home</a>
                </li>
                <li>
                    <span>/</span><a href="/Users/MyAccount/">My Account</a>
                </li>
                <li><span>/</span><strong>Edit Account</strong></li>

            </ul>
        </div>
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main">
                    <div class="my-account">
                        <div class="page-title">
                            <h2>Edit Account</h2>
                        </div>
                        @using (Html.BeginForm("EditAccount", "Users", FormMethod.Post, new { id = "", enctype = "multipart/form-data" }))
                        {
                            <fieldset>
                                <legend>Your Personal Details</legend>
                                <div class="form-group-required">
                                    <label for="Email" class="control-label col-sm-2">Email:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div style="margin-left:0px; margin-top:8px;"><b>@Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</b></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="visible-xs" style="margin-top:15px;"></div>
                                <div class="form-group-required">
                                    <label for="FirstName" class="control-label col-sm-2">First Name:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control"} })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group-required">
                                    <label for="LastName" class="control-label col-sm-2">Last Name:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group-required">
                                    <label for="ContactNumber" class="control-label col-sm-2">Contact:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
                                            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group-required">
                                    <label for="StreetAddress" class="control-label col-sm-2">Address:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group-required">
                                    <label for="" class="control-label col-sm-2"></label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <p><b>Note:</b> Please fill up your address along with nearest landmark/famous location.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="visible-xs" style="margin-top:15px;"></div>
                            </fieldset>
                            <div class="buttons clearfix">
                                <div class="pull-left"><a href="/Users/MyAccount/" class="btn btn-default">Back</a></div>
                                <div class="pull-right">
                                    <!--  <input type="submit" value="" class="btn btn-primary" /> -->
                                    <button type="submit" class="button continue"> Update Details </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <br />
                <p>For any query/suggestions you can email us at <a href="mailto:info@sizzlingmart.com"><b>info@sizzlingmart.com</b></a></p>
                <p>Thank you for being our valued customer!</p>
            </div>


            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">
                    <div class="block-title">
                        Quick Links
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a href="/Users/MyAccount/">My Account</a></li>
                            <li><a href="/Users/EditAccount/">Edit Account</a></li>
                            <li><a href="/Users/ChangePassword/">Change Password</a></li>
                            <li><a href="/WishList/CheckWishlist/@id">Wishlist</a></li>
                            <li><a href="/Users/MyOrders/@id">Order History</a> </li>
                            <li><a href="/Users/Logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $.ajax(
            {
                url: "/ShoppingCart/CartCounter",
                type: "get"
            }
        ).done(function (result) {
            $("#showresult").html(result);
        });

        $(document).ready(function () {
            jQuery('.mega-menu-category').slideUp();

        });
    </script>
}
else
{
    { Response.Redirect("~/Home/"); }
}
