﻿@using SizzlingMart.Models.User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int id;
}

@if (Session[WebUtil.CURRENT_USER] != null)
{
    User user = (User)Session[WebUtil.CURRENT_USER];
    id = user.Id;
    <div class="main container">
        <div class="row breadcrumbs">
            <ul>
                <li>
                    <a href="/Home/">Home</a>
                </li>
                <li>
                    <span>/</span>                            <a href="#">Account</a>
                </li>
                <li><span>/</span>                            <strong>Forgotten Password</strong>            </li>

            </ul>
        </div>
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main">
                    <div class="my-account">
                        <div class="page-title">
                            <h2> Forgot Your Password?</h2>
                        </div>
                        <p>Enter the e-mail address associated with your account. Click submit to have a password reset link e-mailed to you.</p>
                        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <fieldset>
                                <legend>Your E-Mail Address</legend>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-email">E-Mail Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" />
                                    </div>
                                </div>
                            </fieldset>
                            <div class="buttons clearfix">
                                <div class="pull-left"><a href="/Home/" class="btn btn-default">Main</a></div>
                                <div class="pull-right">
                                    <!-- <input type="submit" value="" class="btn btn-primary" /> -->
                                    <button type="submit" class="button continue"> Continue </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">
                    <div class="block-title">
                        Account
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a href="/Users/MyAccount/">My Account</a></li>
                            <li><a href="/Users/EditAccount/">Edit Account</a></li>
                            <li><a href="/Users/ChangePassword/">Change Password</a></li>
                            <li><a href="/WishList/CheckWishlist/@id">Wishlist</a></li>
                            <li><a href="/Users/MyOrders/@id">Order History</a> </li>
                            <li><a href="/Users/Logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax(
                {
                    url: "/ShoppingCart/CartCounter",
                    type: "get"
                }
            ).done(function (result) {
                $("#showresult").html(result);
            });

            jQuery('.mega-menu-category').slideUp();
        });
    </script>
}
else
{
    { Response.Redirect("~/Home/"); }
}

