﻿@{ 
    List<SelectListItem> ssubcat = ViewBag.SecondSubCatories;
}
@Html.DropDownList("SecSubCat", ssubcat, " - Select SubCategory - ", new { @class = "form-control" })



<script type="text/javascript">

</script>




