﻿@using SizzlingMart.Models.Product
@using SizzlingMart.Models.User
@using SizzlingMart.Models.ViewModel
@model PagedList.IPagedList<SizzlingMart.Models.ViewModel.MinDetails>
@using PagedList.Mvc;
@{
    List<MinDetails> special = ViewBag.Special;
    ViewBag.Title = "SizzlingMart - Fragrance";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    TempData["Filter"] = "Fragrance";
    float pricebfcomma;
    string pricewdcomma;
    int userid = 0;
    int fadestar2;
    int rating = 0;
}
<style>
    @@media (min-width:768px) {
        .modal-content, .modal-dialog {
            width: 850px;
        }
    }

    .nopadding {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

<section class="main-container col2-left-layout bounceInUp animated">
    <div class="main container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-sm-push-3 nopadding">
                <div class="visible-xs" style="margin-top:20px;"></div>
                <div id="alertmessage"></div>
            </div>
            <div id="content" class="col-sm-9 col-xs-12 col-sm-push-3">
                <div class="breadcrumbs">

                    <ul>
                        <li>
                            <a href="/Home/">Home</a>
                        </li>
                        <li>
                            <span>/</span><strong>Fragrance</strong>
                        </li>
                    </ul>
                </div>

                <div class="page-title"><h2 class="page-heading"> <span class="page-heading-title">Fragrance</span> </h2></div>

                @*<div class="category-description std">
                    <div class="slider-items-products">
                        <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col1">

                                <div class="item">
                                    <img src="~/Content/Images/WebImages/InnerSlider1.jpg" alt="SizzlingMart" class="img-responsive" />
                                    <div class="cat-img-title cat-bg cat-box">
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="~/Content/Images/WebImages/InnerSlider2.jpg" alt="SizzlingMart" class="img-responsive" />
                                    <div class="cat-img-title cat-bg cat-box">
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="~/Content/Images/WebImages/InnerSlider3.jpg" alt="SizzlingMart" class="img-responsive" />
                                    <div class="cat-img-title cat-bg cat-box">
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="~/Content/Images/WebImages/InnerSlider4.jpg" alt="SizzlingMart" class="img-responsive" />
                                    <div class="cat-img-title cat-bg cat-box">
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="~/Content/Images/WebImages/InnerSlider5.jpg" alt="SizzlingMart" class="img-responsive" />
                                    <div class="cat-img-title cat-bg cat-box">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>*@

                <div id="modalview"></div>
                @if (Model.Count != 0)
                {
                    <article class="col-main">
                        <div class="toolbar">
                            <div class="col-sm-6">
                                <div class="sorter" style="float:left">
                                    <div class="view-mode">
                                        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                                        <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="sort-by" style="float:right">
                                    <label class="left">Sort By:</label>
                                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                                        <option value="#" selected="selected">Default</option>
                                        <option value="/Products/FPriceASC/3">Price (Low &gt; High)</option>
                                        <option value="/Products/FPriceDSC/3">Price (High &gt; Low)</option>
                                    </select>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="category-products">
                            <div class="pro_row products-list">
                                @foreach (var item in Model)
                                {
                                    <div class="product-layout product-list col-xs-12">
                                        <div class="product-thumb col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" href="/Products/ProductDetails/@item.Id" title="@item.Name">
                                                            <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" title="@item.Name" />
                                                        </a>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li>
                                                                    <a class="detaillink" title="Quick View" href="/Products/Details/@item.Id" data-action="details" data-name="@item.Name"></a>
                                                                </li>

                                                                <li>
                                                                    <a class="addtowishlist" title="Wishlist" data-action="wishlist" data-pid="@item.Id" data-pname="@item.Name"></a>
                                                                </li>

                                                                <li>
                                                                    <a class="givereviews" title="Review" data-pid="@item.Id" data-pname="@item.Name"></a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title">
                                                            <a title="@item.Name" href="/Products/ProductDetails/@item.Id">
                                                                @item.MiniTitle
                                                            </a>
                                                        </div>
                                                        <div class="desc std">
                                                            <p>
                                                                @item.Description
                                                            </p>
                                                        </div>
                                                        <div class="item-content">
                                                            <div class="rating">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        @{
                                                                            rating = ProductHandler.GetRating(item.Id);
                                                                            fadestar2 = 5 - rating;
                                                                        }
                                                                        @for (int i = 1; i <= rating; i++)
                                                                        {
                                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                        }
                                                                        @for (int i = 1; i <= fadestar2; i++)
                                                                        {
                                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div><!-- rating -->


                                                            <div class="item-price">
                                                                <div class="price-box">
                                                                    <div class="price-box">
                                                                        @{
                                                                            pricebfcomma = item.Price;
                                                                            pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                        }
                                                                        @*<p class="old-price"><span class="price">$100.00</span></p>*@
                                                                        <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            @*<div class="action">
                                                                    <button type="button" title="" data-original-title="Add to Cart" class="button btn-cart link-cart" onclick="cart.add('8017');"><span>Add to Cart</span></button>

                                                                </div>*@
                                                            <div class="action">
                                                                <button type="button" title="" data-pid="@item.Id" data-pname="@item.Name" data-pprice="@item.Price" data-purl="@Url.Content(item.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>  <!-- End Item info -->
                                            </div>  <!-- End  Item inner-->
                                        </div>
                                    </div><!-- item product-layout product-list col-xs-12 -->
                                                                            }
                            </div>
                        </div>
                        <div class="row">
                            <div class="bottom_pagination">
                                <div class="col-sm-6 text-left">
                                    <ul class="pagination">
                                        @Html.PagedListPager(Model, page => Url.Action(ViewBag.Name, new { page, pageSize = Model.PageSize }))
                                    </ul>
                                </div>
                                <div class="col-sm-6 text-right">Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount</div>
                            </div>
                        </div>

                    </article>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="container"><p>Currently, there is no item available to display in this section!</p></div>
                                                                            }
            </div>
            <aside id="column-left" class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                <div class="panel panel-default special-products">
                    <div class="panel-heading">Specials</div>
                    @foreach (var item in special)
                    {
                        <div class="product-layout">
                            <div class="product-thumb transition">
                                <div class="image"><a href="/Products/ProductDetails/@item.Id"><img src="@Url.Content(item.ImageUrl)" alt="@item.Name" title="@item.Name" class="img-responsive" /></a></div>
                                <div class="caption item-info info-inner item-title">
                                    <p><a href="/Products/ProductDetails/@item.Id"><b>@item.Name</b></a></p>
                                    <div class="price-box">
                                        @{
                                            pricebfcomma = item.Price;
                                            pricewdcomma = pricebfcomma.ToString("#,##0");
                                        }
                                        <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                    </div>

                                </div>

                            </div>
                        </div>
                                            }

                </div>

            </aside>
        </div>
    </div>
    <section class="modal" id="dialogsec" tabindex="-1" role="dialog" aria-labelledby="dialogsec-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogsec-title"></h4>
                </div>
                <div id="dialogsec-body" style="padding:15px;">
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
                    $.ajax(
                        {
                            url: "/ShoppingCart/CartCounter",
                            type: "get"
                        }
                    ).done(function (result) {
                        $("#showresult").html(result);
                        });

                    $(document).ready(function () {
                        jQuery('.mega-menu-category').slideUp();

                    });

                    $(".addtowishlist").click(function (event) {
                        event.preventDefault();
                        var pid = $(this).data("pid");
                        var pname = $(this).data("pname");
                        var uid;
                        @{
                            if (Session[WebUtil.CURRENT_USER] != null)
                            {
                                User user = ((User)Session[WebUtil.CURRENT_USER]);
                                userid = user.Id;
                            }
                        }

                        if (@userid != 0) {
                            uid = @userid;
                            $.ajax(
                                {
                                    type: "POST",
                                    url: "/WishList/AddToWishlist/",
                                    //contentType: "application/json; charset=utf-8",
                                    data: { PID: pid, UID: uid },
                                    //dataType: "json",
                                    success: function (data) {
                                        if (data == 1) {
                                            $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b><a href="/Products/ProductDetails/' + pid + '"</a>' + pname + '</b> into your <a href="/WishList/CheckWishlist/' + uid + '"><b>WishList</b></a><button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        } else {
                                            $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! <b><a href="/Products/ProductDetails/' + pid + '"</a>' + pname + '</b> is already in your <a href="/WishList/CheckWishlist/' + uid + '"><b>WishList</b></a><button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        }

                                    },
                                    error: function (data) {
                                        if (data == 0) {
                                            $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + '<b> Warning!</b> Sorry for the inconvenience, please try again later.<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        }
                                    },
                                });

                        }
                        else {
                            $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + '<b> Warning!</b> Please <a href="/Users/Login/">Login</a> or <a href="/Users/Register/">Register</a> to add <a href="/Products/ProductDetails/' + pid + '">' + pname + '</a> into your Wishlist.<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                        }
                    });


                    $(".givereviews").click(function (event) {
                            var pid = $(this).data("pid");
                            var pname = $(this).data("pname");
                            $.ajax(
                                {
                                    url: "/Products/GiveReview/" + pid,
                                    type: "get"
                                }
                            ).done(function (result) {
                                $("#dialogsec-title").html(pname);
                                $("#dialogsec-body").html(result);
                                $("#dialogsec").modal();
                            });
                        });

                    $(".addtocart").click(function () {

                        var pid = $(this).data("pid");
                        var pname = $(this).data("pname");
                        var pquantity = 1;
                        $.ajax(
                            {
                                url: "/ShoppingCart/AddToCart/",
                                data: { Itemid: pid, ItemQuantity: pquantity },
                                //data: { ItemName: pname },
                                //data: { ItemPrice: pprice },
                                //data: { ItemImage: pimage },
                                //data: { ItemQuantity: pquantity },
                                type: "post",
                            }
                        ).done(function (result) {
                            $("#showresult").html(result);
                            $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b>' + pname + '</b> into your Sizzling Cart!<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            //$("#alertmessage").delay(2000).hide("slow");
                        });
                        });

                    $(".detaillink").click(function (event) {
                        event.preventDefault();
                        var elt = $(this);
                        $.ajax(
                            {
                                url: elt.attr("href"),
                                type: "get"
                            }
                        ).done(function (result) {
                            $("#dialogsec-title").html("Quick View");
                            $("#dialogsec-body").html(result);
                            $("#dialogsec").modal();
                        });
                    });
    </script>
</section>
