﻿@using SizzlingMart.Models.Product
@using SizzlingMart.Models.User
@using SizzlingMart.Models.ViewModel
@model MaxDetails
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    List<Review> reviews = ViewBag.Reviews;
    List<MinDetails> related = ViewBag.Related;
    float pricebfcomma;
    string pricewdcomma;
    int userid = 0;
    int fadestar2;
    int rating = 0;
}
<style>
    @@media (min-width:768px) {
        .modal-content, .modal-dialog {
            padding-top:0px;
        }
    }

    .nopadding {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>
<section class="main-container col1-layout">
    <div class="main" id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 nopadding">
                    <div class="visible-xs" style="margin-top:20px;"></div>
                    <div id="alertmessage"></div>
                </div>
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/Home/">Home</a>
                            </li>
                            <li>
                                <span>/</span><strong>@Model.Category</strong>
                                <span>/</span><strong>@Model.SubCategory</strong>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="col-main">
                        <div class="product-view">
                            <div class="product-essential">

                                <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">

                                    <div class="product-image">
                                        <div class="product-full">
                                            <div class="new-label new-top-left">Sale</div>
                                            <img id="product-zoom" src="@Url.Content(Model.ProductImages[0])" data-zoom-image="@Url.Content(Model.ProductImages[0])" />
                                        </div>
                                        <div class="more-views">
                                            <div class="slider-items-products">
                                                <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                                                    <div class="slider-items slider-width-col4 block-content">
                                                        @foreach (var url in Model.ProductImages)
                                                        {
                                                            <div class="more-views-items"> <a href="@Url.Content(url)" data-image="@Url.Content(url)" data-zoom-image="@Url.Content(url)"> <img id="product-zoom" src="@Url.Content(url)" /> </a></div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div><!-- product-img-box col-lg-6 col-sm-6 col-xs-12 -->
                                <div class="product-shop col-lg-8 col-sm-7 col-xs-12">
                                    <div class="product-name">
                                        <h1>@Model.Name</h1>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating">
                                                @{
                                                    rating = ProductHandler.GetRating(Model.Id);
                                                    fadestar2 = 5 - rating;
                                                }
                                                @for (int i = 1; i <= rating; i++)
                                                {
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                }
                                                @for (int i = 1; i <= fadestar2; i++)
                                                {
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                }
                                            </div>
                                        </div>

                                        <p class="rating-links">
                                            <a href="#" id="reviewdiv" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><b>@ViewBag.ReviewCount</b> Reviews</a>
                                            <span class="separator">|</span>
                                            <a href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
                                            | <a class="link-wishlist" title="Wishlist" onclick=""><span>Add to Wishlist</span></a> | <b>@Model.Views</b> Views
                                        </p>
                                    </div><!-- ratings -->
                                    <div class="price-block">
                                        <div class="price-box">
                                            <p class="special-price"><span class="price">PKR: @Model.Price/-</span></p>
                                            <p class="availability in-stock"><span>In Stock</span></p>
                                        </div>
                                    </div>
                                    <h3>Product Details</h3>
                                    <ul class="list-unstyled">
                                        @if (Model.Brand != "Not Available")
                                        {
                                            <li><span><b>Brand: </b></span>@Model.Brand</li>
                                        }

                                        <li><span><b>Category: </b></span> <a>@Model.Category</a></li>
                                        <li><span><b>Sub-Category: </b></span> <a>@Model.SubCategory</a></li>
                                        <li><span><b>Seller: </b></span> <a href="#">@Model.Seller</a></li>
                                        @if (Model.Wear != "N\\A")
                                        {
                                            <li><span><b>Fabric Used: </b></span>@Model.Wear</li>
                                        }
                                        @if (Model.Colors.Count > 0)
                                        {
                                            <li>
                                                <span><b>Available Color(s): </b></span>
                                                @foreach (var c in Model.Colors)
                                                {
                                                    @c.Name <text>&nbsp;</text>
                                                }
                                            </li>
                                        }
                                        <li><span><b>Product Code: </b></span>@Model.Code</li>

                                        <li><span><b>Description: </b></span>@Model.Description</li>

                                    </ul>
                                    <div id="product">
                                        <hr>

                                        <div class="">
                                            <label class="control-label" for="input-option7"><b>Special Instructions:</b></label>
                                            <textarea name="option[7]" rows="5" placeholder="If you have any special instructions, write here..." id="input-option7" class="form-control"></textarea>
                                        </div>
                                        <div class="add-to-box">

                                            <div class="add-to-cart">
                                                <label class="control-label" for="input-quantity">Qty</label>
                                                <div class="pull-left">
                                                    <div class="custom pull-left">

                                                        <button class="reduced items-count" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty > 0 ) result.value--;return false;" type="button">
                                                            <i class="fa fa-minus"> </i>
                                                        </button>
                                                        <input type="text" name="quantity" value="1" size="2" id="qty" class="input-text qty" maxlength="12" />
                                                        <button class="increase items-count" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" type="button">
                                                            <i class="fa fa-plus"> </i>
                                                        </button>

                                                        <input type="hidden" name="product_id" value="8013" />
                                                    </div>
                                                </div>

                                                <div class="pull-left">
                                                    <button type="button" title="" data-pid="@Model.Id" data-pname="@Model.Name" data-pprice="@Model.Price" data-purl="@Url.Content(Model.ProductImages[0])" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style" style="margin-top:15px;" addthis:url="http://www.sizzlingmart.com/" addthis:title="@Model.Name" addthis:description="@Model.Description" addthis:media="@Url.Content(Model.ProductImages[0])"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
                                        <script src="~/Content/js/addthis_widget.js"></script>
                                        <!-- AddThis Button END -->
                                    </div> <!-- product-id -->
                                </div>
                            </div><!-- product essential -->
                        </div><!-- product-view -->
                    </div><!-- col-main  -->
                    <div class="product-collateral">
                        <div class="add_info">


                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li class="active"><a href="#tab-description" data-toggle="tab">Additional Details</a></li>
                                <li><a href="#tab-specification" data-toggle="tab">Steps To Order</a></li>
                                <li><a href="#tab-review" data-toggle="tab">Reviews (@ViewBag.ReviewCount)</a></li>
                            </ul>
                            <div id="productTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="tab-description">
                                    <div>
                                        <p>
                                            @Model.AdditionalDetails
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-specification">
                                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 1:</b> Click on 'ADD TO CART' button. (Product will be added into your cart. You may also change the quantity of product otherwise, by default quantity is 'one')</p>
                                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 2:</b> Click on 'CART' button at top right corner.</p>
                                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 3:</b> Click on 'CHECKOUT' button after confirming your order details and quantity. (You need to get registered first at this step)</p>
                                    <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;&nbsp;<b>Step 4:</b> Click on 'CONFIRM ORDER' button to place your order.</p>
                                </div>
                                <div class="tab-pane" id="tab-review">
                                    <div class="row">
                                        <div class="container">
                                            @foreach (var review in reviews)
                                            {
                                                <b>@review.Name</b><br />
                                                <i>@review.CustomerReview</i>
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            @{
                                                                float fadestar = 5 - review.Rate;
                                                            }
                                                            @for (int i = 1; i <= review.Rate; i++)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            }
                                                            @for (int i = 1; i <= fadestar; i++)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                                }
                                        </div>
                                    </div>

                                    <form class="form-horizontal" id="form-review">
                                        @*<div id="review"></div>*@
                                        <h2>Write a review</h2>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">Your Name</label>
                                                <input type="text" name="name" value="" id="input-name" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-review">Your Review</label>
                                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label">Rating</label>
                                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                <input type="radio" name="rating" value="1" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="2" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="3" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="4" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="5" />
                                                &nbsp;Good
                                            </div>
                                        </div>
                                        <div class="buttons clearfix">
                                            <div class="pull-right">
                                                <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Submit Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>



                                <!-- col-sm-12 wow bounceInUp animated animated -->
                                <!-- product-collateral -->
                                <div class="related-pro">
                                    <div class="slider-items-products">
                                        <div class="related-block">
                                            <div class="home-block-inner">
                                                <div class="block-title">
                                                    <h2>Related Products</h2>
                                                </div>
                                            </div>

                                            <div id="related-products-slider" class="product-flexslider hidden-buttons">
                                                <div class="slider-items slider-width-col4 products-grid">
                                                    @foreach (var b in related)
                                                    {
                                                        <div class="item">
                                                            <div class="item-inner">
                                                                <div class="item-img">
                                                                    <div class="item-img-info">
                                                                        <a class="product-image" href="/Products/ProductDetails/@b.Id" title=@b.Name>
                                                                            <img src="@Url.Content(b.ImageUrl)" alt=@b.Name title=@b.Name />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="item-info">
                                                                    <div class="info-inner">
                                                                        <div class="item-title">
                                                                            <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                                @b.MiniTitle
                                                                            </a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="ratings">
                                                                                <div class="rating-box">
                                                                                    @{
                                                                                        rating = ProductHandler.GetRating(b.Id);
                                                                                        fadestar2 = 5 - rating;
                                                                                    }
                                                                                    @for (int i = 1; i <= rating; i++)
                                                                                    {
                                                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                    }
                                                                                    @for (int i = 1; i <= fadestar2; i++)
                                                                                    {
                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- rating -->
                                                                        <div class="item-content">
                                                                            <div class="item-price">
                                                                                <div class="price-box">
                                                                                    @{
                                                                                        pricebfcomma = b.Price;
                                                                                        pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                    }
                                                                                    <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="action">
                                                                                <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>  <!-- End Item info -->
                                                            </div>  <!-- End  Item inner-->
                                                        </div>
                                                                                        }
                                                </div>
                                            </div>    <!-- featured -->
                                        </div>
                                    </div>    <!-- slider Item products -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Modal Popup -->
<section class="modal" id="dialogsec" tabindex="-1" role="dialog" aria-labelledby="dialogsec-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogsec-title"></h4>
            </div>
            <div id="dialogsec-body" style="padding:15px;">
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax(
            {
                url: "/ShoppingCart/CartCounter",
                type: "get"
            }
        ).done(function (result) {
            $("#showresult").html(result);
            });

        jQuery('.mega-menu-category').slideUp();

        var id = @Model.Id;
        $.ajax(
            {
                url: "/Products/ViewIncrement/" + id,
                type: "post",
            }
        );
    });

    $("#button-review").click(function () {
        var id = @Model.Id;
        var username = $("#input-name").val();
        var userreview = $("#input-review").val();
        var userrating = $('input[name=rating]:checked').val();

        if (username != '' && userreview != '' && userrating != '') {
            $.ajax({
                type: "GET",
                url: "/Products/AddReview", // the method we are calling
                contentType: "application/json; charset=utf-8",
                data: { Id: id, Username: username, userreview: userreview, Userrating: userrating },
                dataType: "json",
                success: function () {
                    $("#username").val("");
                    $("#userreview").val("");
                    $("#userrating").val("");
                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! Your review has been submitted for approval. It will be visible after Admins approval.Thank You!' + ' <button type= "button" class="close" data- dismiss="alert" >&times;</button ></div ></div> ');
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                },
                error: function () {
                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! Your review has been submitted for approval. It will be visible after Admins approval.Thank You!' + ' <button type= "button" class="close" data- dismiss="alert" >&times;</button ></div ></div> ');
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                    $(function () {
                        //Delay for ~3 seconds and then fade out
                $("#alertmessage").delay(3000).fadeOut("slow");
                    });
                },
            });
        } else {
            $('#form-review').before('<div class="container col-sm-12" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + ' Please fill up all the required fields...' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
            $('html, body').animate({ scrollMiddle: 600 }, 'slow');
            $(function () {
                //Delay for ~3 seconds and then fade out
                $("#alertmessage").delay(3000).fadeOut("slow");
            });
        }
    });
    $("#reviewdiv").click(function () {
        $('html, body').animate({ scrollTop: 800 }, 'slow');
    });


                $(".addtocart").click(function () {
                    var quantityvalue = $("#qty").val();
                    var pid = $(this).data("pid");
                    var pname = $(this).data("pname");

                    $.ajax(
                        {
                            url: "/ShoppingCart/AddToCart/",
                            data: { Itemid: pid, ItemQuantity: quantityvalue },
                            //data: { ItemName: pname },
                            //data: { ItemPrice: pprice },
                            //data: { ItemImage: pimage },
                            //data: { ItemQuantity: pquantity },
                            type: "get",
                        }
                    ).done(function (result) {
                        $("#showresult").html(result);
                        $("#alertmessage").html('<div class="container col-sm-12" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b>' + pname + '</b> into your Sizzling Cart!<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                        $("#qty").val('1');
                        //$("#alertmessage").delay(2000).hide("slow");
                    });
                });

</script>