﻿@using SizzlingMart.Models.User
@using SizzlingMart.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    List<MinDetails> wishlistitems = ViewBag.detailsofwishlistitems;
}
@if (Session[WebUtil.CURRENT_USER] != null)
{
    User user = (User)Session[WebUtil.CURRENT_USER];
    int id = user.Id;
        <div class="main-container col2-right-layout">
    <div class="main container">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="/Home/">Home</a>
                </li>
                <li>
                    <span>/</span>                            <a href="/Users/MyAccount/">My Account</a>
                </li>
                <li><span>/</span>                            <strong>My Wishlist</strong>            </li>

            </ul>
        </div>
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main wishlist">
                    <div class="my-account">
                        <div class="page-title">
                            <h2>My Wishlist</h2>
                        </div>
                        @if (wishlistitems.Count >= 1)
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <colgroup>
                                        <col width="10%"></col>
                                        <col width="35%"></col>
                                        <col width="13%"></col>
                                        <col width="10%"></col>
                                        <col width="15%"></col>
                                        <col width="17%"></col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <td class="text-left">Image</td>
                                            <td class="text-left">Product Name</td>
                                            @*<td class="text-left">Model</td>*@
                                            <td class="text-right">Stock</td>
                                            <td class="text-right">Unit Price</td>
                                            <td class="text-right">Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in wishlistitems)
                                        {
                                            <tr>
                                                <td class="text-left">
                                                    <a href="/Products/ProductDetails/@item.Id"><img src="@Url.Content(item.ImageUrl)" alt="@item.Name" title="@item.Name" style="width:80px;height:101px" /></a>
                                                </td>
                                                <td class="text-left"><a href="/Products/ProductDetails/@item.Id">@item.Name</a></td>
                                                @*<td class="text-left">item.</td>*@
                                                <td class="text-right">In Stock</td>
                                                <td class="text-right">
                                                    <div class="price">
                                                        @item.Price
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <button type="button" data-pid="@item.Id" data-pname="@item.Name" data-pprice="@item.Price" data-purl="@Url.Content(item.ImageUrl)" data-pqty="1" data-toggle="tooltip" title="Add to Cart" class="btn btn-primary addtocart"><i class="fa fa-shopping-cart"></i></button>
                                                    <a href="/WishList/Delete/@item.Id" data-toggle="tooltip" title="Remove" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <!-- <a href="" class="btn btn-primary"></a> -->
                                    <button onclick="window.location='/ShoppingCart/ViewCart';" class="button continue">Continue to cart</button>
                                </div>
                            </div>
                            <br />
                                            <br />
                                            <p>For any query/suggestions you can email us at <a href="mailto:info@sizzlingmart.com"><b>info@sizzlingmart.com</b></a></p>
                                            <p>Thank you for being our valued customer!</p>
                        }
                        else
                        {
                            <div style="margin-top:15px;"></div>
                            <p>Oops! currently you have no item in your wishlist. <a href="/Home/"><b>Continue shopping</b></a> or back to <a href="/Users/MyAccount/"><b>My Account</b></a>.</p>
                            <br />
                                            <br />
                                            <p>For any query/suggestions you can email us at <a href="mailto:info@sizzlingmart.com"><b>info@sizzlingmart.com</b></a></p>
                                            <p>Thank you for being our valued customer!</p>
                        }
                    </div>
                </div>
            </div>

            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">
                    <div class="block-title">
                        Quick Links
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a href="/Users/MyAccount/">My Account</a></li>
                            <li><a href="/Users/EditAccount/">Edit Account</a></li>
                            <li><a href="/Users/ChangePassword/">Change Password</a></li>
                            <li><a href="/WishList/CheckWishlist/@id">Wishlist</a></li>
                            <li><a href="#">Order History</a> </li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="/Users/Logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
    <script type="text/javascript">
      $.ajax(
          {
              url: "/ShoppingCart/CartCounter",
              type: "get"
          }
      ).done(function (result) {
          $("#showresult").html(result);
      });

      $(document).ready(function () {
          jQuery('.mega-menu-category').slideUp();

      });

      $(".addtocart").click(function () {

          var pid = $(this).data("pid");
          var pname = $(this).data("pname");
          var pquantity = 1;
          $.ajax(
              {
                  url: "/ShoppingCart/AddToCart/",
                  data: { Itemid: pid, ItemQuantity: pquantity },
                  type: "post",
              }
          ).done(function (result) {
              $("#showresult").html(result);
              $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b>' + pname + '</b> into your Sizzling Cart!<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
              $('html, body').animate({ scrollTop: 0 }, 'slow');
          });
      });
</script>
}
else
{
    { Response.Redirect("~/Home/"); }
}



