﻿@using SizzlingMart.Models.ViewModel
@model MaxDetails
@{ 
    float pricebfcomma;
    string pricewdcomma;
}
@*Modal Start*@
<script src="~/Content/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Content/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="~/Content/catalog/view/javascript/jquery/datetimepicker/moment.js" type="text/javascript"></script>
<script src="~/Content/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

<link href="~/Content/catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet">
<link href="~/Content/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">

<link href="~/Content/catalog/view/theme/lineademo1/stylesheet/flexslider.css" rel="stylesheet">
<script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/cloudzoom.js"></script>
<script src="~/Content/catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
                <div class="magik-quickview">
                    <div class="product-view">
                        <div class="product-essential">
                            <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
                                <div class="product-image">

                                    <div class="large-image">
                                        <a href="@Url.Content(Model.ProductImages[0])" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20" style="position: relative; display: block;">
                                            <img src="@Url.Content(Model.ProductImages[0])" style="display: block;">
                                        </a>
                                        <div class="mousetrap" style="background-image: url(&quot;.&quot;); z-index: 999; position: absolute; width: 329px; height: 398px; left: 0px; top: 0px; cursor: pointer;"></div>
                                    </div>

                                    <div class="flexslider flexslider-thumb">

                                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                            <ul class="previews-list slides" style="width: 1200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                @foreach (var url in Model.ProductImages)
                                                {
                                                    <li style="width: 76px; float: left; display: block;">
                                                        <a href="@Url.Content(url)" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '@Url.Content(url)' ">
                                                            <img src="@Url.Content(url)" alt="Thumbnail 1" draggable="false">
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li><a class="flex-next" href="#"></a></li></ul>
                                    </div>
                                </div><!-- product-image -->
                            </div><!-- product-img-box col-lg-6 col-sm-6 col-xs-12 -->

                            <div class="product-shop col-lg-7 col-sm-7 col-xs-12">
                                <div class="product-name">
                                    <h1>@Model.Name</h1>
                                </div>

                                <div class="ratings">
                                    <div class="rating-box">
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>

                                    <p class="rating-links">1 reviews</p>
                                </div><!-- ratings -->



                                <div class="price-block">
                                    <div class="price-box">
                                        @{ 
                                            pricebfcomma = Model.Price;
                                            pricewdcomma = pricebfcomma.ToString("#,##0");
                                        }
                                        <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>

                                        <p class="availability in-stock"><span>In Stock</span></p>
                                    </div>
                                </div>

                                <ul class="list-unstyled">
                                    @*@if (Model.Brand != "Not Available")
                                    {
                                        <li><span><b>Brand: </b></span>@Model.Brand</li>
                                    }
                                    <li><span><b>Seller: </b></span> <a href="#">@Model.Seller</a></li>
                                    <li><span><b>Fabric Used: </b></span>@Model.Fabric</li>*@
                                    <li><span><b>Product Code: </b></span>@Model.Code</li>
                                    <li>
                                        <span><b>Available Color(s): </b></span>
                                        @foreach (var c in Model.Colors)
                                        {
                                            @c.Name <text>&nbsp;</text>
                                        }
                                    </li>
                                    <!-- <li> </li> -->
                                </ul>

                                <ul class="list-unstyled">
                                    <li><span><b>Description: </b></span>@Model.Description</li>
                                </ul>

                                <div id="product">
                                    <div class="add-to-box">

                                        <div class="add-to-cart">
                                            <label class="control-label" for="input-quantity">Qty</label>
                                            <div class="pull-left">
                                                <div class="custom pull-left">

                                                    <button class="reduced items-count" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty > 0 ) result.value--;return false;" type="button">
                                                        <i class="fa fa-minus"> </i>
                                                    </button>
                                                    <input type="text" name="quantity" value="1" size="2" id="qty" class="input-text qty" maxlength="12" />
                                                    <button class="increase items-count" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" type="button">
                                                        <i class="fa fa-plus"> </i>
                                                    </button>

                                                    <input type="hidden" name="product_id" value="8013" />
                                                </div>
                                            </div>

                                            <div class="pull-left">
                                                <button type="button" title="" data-pid="@Model.Id" data-pname="@Model.Name" data-pprice="@Model.Price" data-purl="@Url.Content(Model.ProductImages[0])" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart2"><span>Add To Cart</span></button>
                                            </div>
                                        </div>

                                        <div class="email-addto-box">
                                            <ul class="add-to-links">
                                                <li>
                                                    <a class="link-wishlist" title="Add to Wish List">
                                                        <span>Add to Wish List</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- product-shop -->
                        </div><!-- product essential -->
                    </div><!-- product-view -->
                </div>
@*Modal Ends*@
<script type="text/javascript">
<!--
                    $(document).ready(function () {
                        $('.thumbnails').magnificPopup({
                            type: 'image',
                            delegate: 'a',
                            gallery: {
                                enabled: true
                            }
                        });
    });
                    $(".close").click(function () {
                        $("modal-quickview").hide();
                    });
                    $(".addtocart2").click(function () {
                        var quantityvalue = $("#qty").val();
                        var pid = $(this).data("pid");
                        var pname = $(this).data("pname");

                        $.ajax(
                            {
                                url: "/ShoppingCart/AddToCart/",
                                data: { Itemid: pid, ItemQuantity: quantityvalue },
                                //data: { ItemName: pname },
                                //data: { ItemPrice: pprice },
                                //data: { ItemImage: pimage },
                                //data: { ItemQuantity: pquantity },
                                type: "get",
                            }
                        ).done(function (result) {
                            $("#showresult").html(result);
                            $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b>' + pname + '</b> into your Sizzling Cart!<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            $("#qty").val('1');
                            //$("#alertmessage").delay(2000).hide("slow");
                        });
                    });
//-->
</script>