﻿@{
    int productid = Convert.ToInt32(TempData["ProductId"]);
}
<form class="form-horizontal" id="form-review">
    @*<div id="review"></div>*@
    <h2>Write a review</h2>
    <div class="form-group required">
        <div class="col-sm-12">
            <label class="control-label" for="input-name">Your Name</label>
            <input type="text" name="name" value="" id="input-name" class="form-control" />
        </div>
    </div>
    <div class="form-group required">
        <div class="col-sm-12">
            <label class="control-label" for="input-review">Your Review</label>
            <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
            <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
        </div>
    </div>
    <div class="form-group required">
        <div class="col-sm-12">
            <label class="control-label">Rating</label>
            &nbsp;&nbsp;&nbsp; Bad&nbsp;
            <input type="radio" name="rating" value="1" />
            &nbsp;
            <input type="radio" name="rating" value="2" />
            &nbsp;
            <input type="radio" name="rating" value="3" />
            &nbsp;
            <input type="radio" name="rating" value="4" />
            &nbsp;
            <input type="radio" name="rating" value="5" />
            &nbsp;Good
        </div>
    </div>
    <div class="buttons clearfix">
        <div class="pull-right">
            <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Submit Review</button>
        </div>
    </div>
</form>
<script type="text/javascript">
        $("#button-review").click(function () {
        var id = @productid;
        var username = $("#input-name").val();
        var userreview = $("#input-review").val();
        var userrating = $('input[name=rating]:checked').val();

        if (username != '' && userreview != '' && userrating != '') {
        $.ajax({
        type: "GET",
        url: "/Products/AddReview", // the method we are calling
        contentType: "application/json; charset=utf-8",
        data: { Id: id, Username: username, userreview: userreview, Userrating: userrating },
        dataType: "json",
        success: function () {
        $("#username").val("");
        $("#userreview").val("");
        $("#userrating").val("");
        $("#alertmessage").html('<div class="container col-sm-12" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! Your review has been submitted for approval. Thank You!' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        $('#dialogsec').modal('hide');
        },
        error: function () {
        $("#alertmessage").html('<div class="container col-sm-12" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! Your review has been submitted for approval. Thank You!' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        $('#dialogsec').modal('hide');
        $(function () {
        //Delay for ~3 seconds and then fade out
        });
        },
        });
        } else {
        $('#form-review').before('<div class="container col-sm-12" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + ' Please fill up all the required fields...' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
        $('html, body').animate({ scrollMiddle: 600 }, 'slow');
        }
    });
</script>
