﻿﻿@using SizzlingMart.Models.User
@{
    User user = ((User)Session[WebUtil.CURRENT_USER]);
    int id;
}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SizzlingMart | @ViewBag.Title</title>
    <base />
    <meta name="description" content="We deal in Bridal Wears, Party Wears, Casuals, Sarees, Replicas & Jewellery 1" />
    <meta name="keywords" content="Bridal Wears Party Wears Fancy Dresses Casuals Replica 2017 Fashion Online Jewellery Jewelery Maxies Frok Shirts Online Female Garments Shopping" />

    <link href="~/Content/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700%7CFjalla+One%7COpen+Sans:300,400,600,700,800%7CPoppins:300,400,500,600,700" rel="stylesheet">
    <link href="~/Content/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/Content/catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content/catalog/view/javascript/jquery/owl-carousel/owl.theme.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/lineademo1/stylesheet/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/lineademo1/stylesheet/jquery.mobile-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/lineademo1/stylesheet/revslider.css">

    <link href="~/Content/catalog/view/theme/lineademo1/stylesheet/revslider.css" type="text/css" rel="stylesheet" media="screen" />

    <link href="~/Content/catalog/view/theme/lineademo1/stylesheet/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/lineademo1/stylesheet/style.css" media="all">

    <link href="~/Content/image/catalog/Logo.png" rel="icon" />


    <style type="text/css">
        /* sale label */
        .sale-label {
            /*background: #*/
        }

        /*Main color section */


        /* header color section */

        /*Top Menu */
        /*background*/
        /*main menu links*/
        /*main menu link hover*/
        /*sub links hover*/


        /*buttons*/


        /*price*/

        /*footer*/
        #ms0 {
            cursor: pointer;
        }

        #ms1 {
            cursor: pointer;
        }
    </style>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59f0e5cb4854b82732ff7a64/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>

<body class="common-home cms-home-page">
    <div id="page" class="category_page">
        <header>
            <div class="header-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left">
                            <div class="dropdown block-language-wrapper">
                                <a title="English" class="block-language dropdown-toggle" data-target="#" data-toggle="dropdown" role="button"> <img alt="English" src="~/Content/catalog/language/en-gb/PakistaniFlag.png"> Pakistan </a>
                            </div>
                            <div class="dropdown block-currency-wrapper">
                                <a class="block-currency dropdown-toggle" href="#" data-target="#" data-toggle="dropdown" role="button">
                                    Currency: PKR
                                </a>
                            </div>
                            <div class="welcome-msg">
                                @if (user != null)
                                {
                                    <p>Welcome to Sizzling Mart, <strong>@user.FirstName !</strong></p>
                                }
                                else
                                {
                                    <p>Welcome to <strong>SizzlingMart</strong>!</p>
                                }

                            </div>
                        </div>
                        @if (Session[WebUtil.CURRENT_USER] == null)
                        {
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 pull-right hidden-xs">
                                <div class="toplinks">
                                    <div class="links">
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle">Main Menu <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation"><a href="/Home/">Home</a></li>
                                                <li role="presentation"><a href="/Products/MakeUp/">MakeUp</a></li>
                                                <li role="presentation"><a href="/Products/SkinCare/">Skin Care</a></li>
                                                <li role="presentation"><a href="/Products/Clothing/">Clothing</a></li>
                                                <li role="presentation"><a href="/Products/Perfumes/">Perfumes</a></li>
                                                <li role="presentation"><a href="/Products/Jewellery/">Jewellery</a></li>
                                                <li role="presentation"><a href="/Products/Accessories/">Accessories</a></li>
                                                <li role="presentation"><a href="/Products/Others/">Others</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> Information <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation"><a href="/Home/AboutUs/">About Us</a></li>
                                                <li role="presentation"><a href="/Home/DeliveryInformation/">Delivery Information</a></li>
                                                <li role="presentation"><a href="/Home/ReturnPolicy/">Return Policy</a></li>
                                                <li role="presentation"><a href="/Home/StepsToOrder/">Steps To Order</a></li>
                                                <li role="presentation"><a href="/Home/TermsConditions/">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                        <div class="check"><a title="Checkout" href="/ShoppingCart/ViewCart/"><span class="hidden-xs">Cart</span></a> </div>
                                        <div class="login">
                                            <a title="Get registered to keep track of your orders" href="/Users/Register/" class="block-company-wrapper"><span class="hidden-xs">Get Registered</span></a>
                                            <a href="/Users/Login/" class="block-company dropdown-toggle"><span class="hidden-xs">Login</span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header Top Links -->
                            </div>
                        }
                        else if (user.IsInRole(WebUtil.AdminRole) && Session[WebUtil.CURRENT_USER] != null)
                        {
                            // Admin Part
                        }
                        else
                        {
                            id = user.Id;
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 pull-right hidden-xs">
                                <div class="toplinks">
                                    <div class="links">
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle">Main Menu <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation"><a href="/Home/">Home</a></li>
                                                <li role="presentation"><a href="/Products/MakeUp/">MakeUp</a></li>
                                                <li role="presentation"><a href="/Products/SkinCare/">Skin Care</a></li>
                                                <li role="presentation"><a href="/Products/Clothing/">Clothing</a></li>
                                                <li role="presentation"><a href="/Products/Perfumes/">Perfumes</a></li>
                                                <li role="presentation"><a href="/Products/Jewellery/">Jewellery</a></li>
                                                <li role="presentation"><a href="/Products/Accessories/">Accessories</a></li>
                                                <li role="presentation"><a href="/Products/Others/">Others</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#">About <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation"><a href="/Home/AboutUs/">About Us</a></li>
                                                <li role="presentation"><a href="/Home/DeliveryInformation/">Delivery Information</a></li>
                                                <li role="presentation"><a href="/Home/ReturnPolicy/">Return Policy</a></li>
                                                <li role="presentation"><a href="/Home/StepsToOrder/">Steps To Order</a></li>
                                                <li role="presentation"><a href="/Home/TermsConditions/">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                        <div class="myaccount"><a title="My Account" href="/Users/MyAccount/"><span class="hidden-xs">Manage Account</span></a> </div>
                                        <div class="myaccount"><a title="My Orders" href="/Users/MyOrders/@id"><span class="hidden-xs">My Orders</span></a> </div>
                                        <div class="check"><a title="Checkout" href="/ShoppingCart/ViewCart/"><span class="hidden-xs">Cart</span></a> </div>
                                        <div class="check"><a title="Wishlist" href="/WishList/CheckWishlist/@id"><span class="hidden-xs">Wishlist</span></a> </div>
                                        <div class="login">
                                            <a href="/Users/Logout/"><span class="hidden-xs">Logout</span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header Top Links -->
                            </div>
                        }

                    </div>
                </div><!-- end header cointainer -->
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-block">
                        <a class="logo" href="/Home/" title="SizzlingMart">
                            <img src="~/Content/image/catalog/SizzlingMart.png" title="SizzlingMart" alt="SizzlingMart" />
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-3 hidden-xs category-search-form">
                        <div class="search-box">
                            <div id="search_mini_form">
                                <input type="text" name="search" value="" placeholder="Search entire store here..." class="searchbox" id="search" autocomplete="off" />
                                <button id="" type="button" class="btn btn-default search-btn-bg"></button>
                                <div class="search-autocomplete" id="search_autocomplete" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 card_wishlist_area">
                        <div class="mm-toggle-wrap">
                            <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
                        </div>
                        <div class="top-cart-contain">
                            <!-- Top Cart -->
                            <div class="mini-cart">
                                <div id="cart">
                                    <div data-hover="dropdown" class="basket dropdown-toggle"> <a href="/ShoppingCart/ViewCart"><span class="price hidden-xs">SIZZLING CART</span><span class="cart_count hidden-xs"><b><span id="showresult">@TempData["CountItems"]</span></b> Item(s)</span></a></div>
                                    <input id="cart-txt-heading" type="hidden" name="cart-txt-heading" value="items ">
                                    @*<ul class="dropdown-menu pull-right top-cart-content arrow_box">

                                            <li>
                                                <p class="text-center noitem">Your shopping cart is empty!</p>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                            <!-- Top Cart -->
                            <div id="ajaxconfig_info" style="display:none">
                                <a href="#/"></a>
                                <input value="" type="hidden">
                                <input id="enable_module" value="1" type="hidden">
                                <input class="effect_to_cart" value="1" type="hidden">
                                <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="hidden-xs">
                <div class="nav-container">
                    <div class="col-md-3 col-xs-12 col-sm-3">
                        <div class="mega-container visible-lg visible-md visible-sm">
                            <div class="navleft-container">
                                <div class="mega-menu-title">
                                    <h3><i class="fa fa-navicon"></i>Main Menu</h3>
                                </div>
                                <div class="mega-menu-category">
                                    <ul class="nav">
                                        <li class="nosub">
                                            <a href="/Home/">
                                                <i class="fa fa-home"></i>
                                                Home
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/Products/MakeUp/">
                                                <i class="fa fa-plus"></i>
                                                MakeUp
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Face MakeUp</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/MakeUpSC/12">Foundation</a></li>
                                                                <li><a href="/Products/MakeUpSC/13">Powder</a></li>
                                                                <li><a href="/Products/MakeUpSC/14">Primer</a></li>
                                                                <li><a href="/Products/MakeUpSC/15">Concealer</a></li>
                                                                <li><a href="/Products/MakeUpSC/16">Blush</a></li>
                                                                <li><a href="/Products/MakeUpSC/17">Bronzer</a></li>
                                                                <li><a href="/Products/MakeUpSC/18">Face Make-Up Remover</a></li>
                                                                <li><a href="/Products/MakeUpSC/19">BB & CC Cream</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Eye MakeUp</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/MakeUpSC/20">Mascara</a></li>
                                                                <li><a href="/Products/MakeUpSC/21">Eyeliner</a></li>
                                                                <li><a href="/Products/MakeUpSC/22">Eye Shadow</a></li>
                                                                <li><a href="/Products/MakeUpSC/23">Eye Make-Up Remover</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3>Lips</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/MakeUpSC/24">Lipsitck</a></li>
                                                                <li><a href="/Products/MakeUpSC/25">Lip Gloss</a></li>
                                                                <li><a href="/Products/MakeUpSC/26">Lip Liner</a></li>
                                                                <li><a href="/Products/MakeUpSC/27">Lip Care</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Nails</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/MakeUpSC/28">Nail Polish</a></li>
                                                                <li><a href="/Products/MakeUpSC/29">Nail Polish Remover</a></li>
                                                                <li><a href="/Products/MakeUpSC/30">Manicure & Pedicure</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <a href="/Products/SkinCare/">
                                                <i class="fa fa-plus"></i>
                                                Skin Care
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Moisturise</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/SkinCareSC/34">Day Cream</a></li>
                                                                <li><a href="/Products/SkinCareSC/35">Night Cream</a></li>
                                                                <li><a href="/Products/SkinCareSC/36">BB & CC Cream</a></li>
                                                                <li><a href="/Products/SkinCareSC/37">Lip Care</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3>Treat</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/SkinCareSC/38">Face Treatments & Serums</a></li>
                                                                <li><a href="/Products/SkinCareSC/39">Masks & Scrubs</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Sun</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/SkinCareSC/40">Sun Protectors</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <a href="/Products/Clothing/">
                                                <i class="fa fa-plus"></i>
                                                Clothing
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Bridal Wears</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/ClothingSC/1">First Day</a></li>
                                                                <li><a href="/Products/ClothingSC/2">Second Day</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Party Wears</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/ClothingSC/3">Froks</a></li>
                                                                <li><a href="/Products/ClothingSC/4">Maxies</a></li>
                                                                <li><a href="/Products/ClothingSC/5">Fancy Dresses</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Casuals</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/ClothingSC/6">Suits</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3>Replicas</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/ClothingSC/7">One Piece</a></li>
                                                                <li><a href="/Products/ClothingSC/8">Two Piece</a></li>
                                                                <li><a href="/Products/ClothingSC/9">Three Piece</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Sarees</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/ClothingSC/10">Pakistani</a></li>
                                                                <li><a href="/Products/ClothingSC/11">Indian</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <a href="/Products/Fragrance/">
                                                <i class="fa fa-plus"></i>
                                                Fragrance
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Ladies</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/FragranceSC/31">Perfumes</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Gents</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/FragranceSC/32">Perfumes</a></li>
                                                                <li><a href="/Products/FragranceSC/34">Deodorants</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <a href="/Products/Jewellery/">
                                                <i class="fa fa-plus"></i>
                                                Jewellery
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Artificial</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/JewellerySC/51">Earrings</a></li>
                                                                <li><a href="/Products/JewellerySC/52">Bracelets</a></li>
                                                                <li><a href="/Products/JewellerySC/53">Necklaces</a></li>
                                                                <li><a href="/Products/JewellerySC/54">Rings</a></li>
                                                                <li><a href="/Products/JewellerySC/55">Bangles</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Silver</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/JewellerySC/46">Earrings</a></li>
                                                                <li><a href="/Products/JewellerySC/47">Bracelets</a></li>
                                                                <li><a href="/Products/JewellerySC/48">Necklaces</a></li>
                                                                <li><a href="/Products/JewellerySC/49">Rings</a></li>
                                                                <li><a href="/Products/JewellerySC/50">Bangles</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3>Gold</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/JewellerySC/41">Earrings</a></li>
                                                                <li><a href="/Products/JewellerySC/42">Bracelets</a></li>
                                                                <li><a href="/Products/JewellerySC/43">Necklaces</a></li>
                                                                <li><a href="/Products/JewellerySC/44">Rings</a></li>
                                                                <li><a href="/Products/JewellerySC/45">Bangles</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Gems</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/JewellerySC/56">Misc</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <a href="/Products/Accessories/">
                                                <i class="fa fa-plus"></i>
                                                Accessories
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Beauty Tools & Brushes</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/AccessoriesSC/57">Make-Up Brushes</a></li>
                                                                <li><a href="/Products/AccessoriesSC/58">Manicure & Pedicure</a></li>
                                                                <li><a href="/Products/AccessoriesSC/59">Eyelash Curlers</a></li>
                                                                <li><a href="/Products/AccessoriesSC/60">Brow Tools & Tweezers</a></li>
                                                                <li><a href="/Products/AccessoriesSC/61">Make-Up Bags</a></li>
                                                                <li><a href="/Products/AccessoriesSC/62">Palettes & Value Sets</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3>Fashion</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/AccessoriesSC/63">Bags</a></li>
                                                                <li><a href="/Products/AccessoriesSC/64">Purses</a></li>
                                                                <li><a href="/Products/AccessoriesSC/65">Scarves</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Hair Tools</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/PerfumesSC/66">Brushes & Combs</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <a href="/Products/Others/">
                                                <i class="fa fa-plus"></i>
                                                Others
                                            </a>
                                            <div class="wrap-popup">
                                                <div class="popup">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h3>Body Care</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/OthersSC/67">Body Moisturisers</a></li>
                                                                <li><a href="/Products/OthersSC/68">Hand Care</a></li>
                                                                <li><a href="/Products/OthersSC/69">Foot Care</a></li>
                                                                <li><a href="/Products/OthersSC/70">Deodorants</a></li>
                                                                <li><a href="/Products/OthersSC/71">Anti-Perspirants</a></li>
                                                                <li><a href="/Products/OthersSC/72">Anti-Cellulite & Toning</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Bath & Shower</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/OthersSC/74">Body Wash & Shower Gel</a></li>
                                                                <li><a href="/Products/OthersSC/75">Body Scrubs & Exfoliants</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3>Hair</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/OthersSC/76">Shampoo</a></li>
                                                                <li><a href="/Products/OthersSC/77">Conditioner</a></li>
                                                                <li><a href="/Products/OthersSC/78">Styling Product</a></li>
                                                                <li><a href="/Products/OthersSC/79">Hair Treatments</a></li>
                                                                <li><a href="/Products/OthersSC/80">Hair Colors</a></li>
                                                            </ul>
                                                            <br />
                                                            <h3>Sets</h3>
                                                            <ul class="nav">
                                                                <li><a href="/Products/OthersSC/81">Misc</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- custom bock-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="our-features-box hidden-xs">
                        <div class="features-block">
                            <div class="col-lg-7 col-md-9 col-xs-12 col-sm-9 offer-block">
                                <div class="feature-box first">
                                    <div class="content">
                                        <h3>100% Original Suits </h3>
                                    </div>
                                </div>
                                <span class="separator">/</span>
                                <div class="feature-box">
                                    <div class="content">
                                        <h3>Cash On Delivery</h3>
                                    </div>
                                </div>
                                <span class="separator">/</span>
                                <div class="feature-box last">
                                    <div class="content">
                                        <h3>WhatsApp # +(92) 320 4111001</h3>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-2 col-md-1 col-sm-2 hidden-sm hidden-md"><span class="offer-label">Offer Zone</span></div>*@
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
        <footer class="footer">
            <div class="newsletter-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="newsletter">
                                <form>
                                    <div>
                                        <h4>SIGN UP FOR EMAILS</h4>
                                        <input type="text" name="subscriber_email" id="subscriber_email" value="" placeholder="Enter Your Email" class="form-control input-text required-entry validate-email" />
                                        <button class="subscribe" type="button" name="submit_newsletter" id="submit_newsletter" @*onclick="return MgkEmailValidation()"*@><span>Subscribe</span></button>
                                        <p id="subscriber_content" class="required"></p>

                                        @*<script>
                                                function MgkEmailValidation(mail) {
                                                    subscribemail = document.getElementById("subscriber_email").value;
                                                    var emailRegEx = /^[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
                                                    if (subscribemail != '') {

                                                        if (subscribemail.search(emailRegEx) != -1) {


                                                            email = document.getElementById("subscriber_email").value;
                                                            var xmlhttp;
                                                            if (window.XMLHttpRequest) {
                                                                xmlhttp = new XMLHttpRequest();
                                                            } else {
                                                                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                                            }

                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                                    document.getElementById("subscriber_content").innerHTML = xmlhttp.responseText;
                                                                }
                                                            }
                                                            xmlhttp.open("GET.html", "index87f4.html?route=extension/module/newslettersubscription/addsubscriberemail&amp;email=" + email, true);
                                                            xmlhttp.send();
                                                            return (true);
                                                        }
                                                        document.getElementById("subscriber_content").innerHTML = "Please enter an email address.";
                                                        return (false);
                                                    }
                                                    document.getElementById("subscriber_content").innerHTML = "This is a required field.";
                                                    return false;
                                                }
                                            </script>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-column pull-left">
                                <h4>Sizzling Mart</h4>
                                <ul class="links">
                                    <li class="first"><a href="/Home/AboutUs/">About Us</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="/Home/ReturnPolicy/">Return Policy</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hidden-xs">
                            <div class="footer-column pull-left">
                                <h4>Extras</h4>
                                <ul class="links">
                                    <li class="first"><a href="#">Our Sellers</a></li>
                                    <li><a href="#">Replica Brands</a></li>
                                    <li><a href="#">SiteMap</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-column pull-left">
                                <h4>Information</h4>
                                <ul class="links">
                                    <li class="first"><a href="/Home/StepsToOrder/">Steps to Order</a></li>
                                    <li class=""><a href="/Home/DeliveryInformation/">Delivery Information</a></li>
                                    <li class=""><a href="/Home/TermsConditions/">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-column pull-left">
                                <h4>Contact Us</h4>
                                <div class="contacts-info">
                                    <div class="phone-footer"><i class="phone-icon">&nbsp;</i>+(92) 320 4111001</div>
                                    <div class="email-footer">
                                        <i class="email-icon">&nbsp;</i>
                                        <a href="mailto:info@sizzlingmart.com">info@sizzlingmart.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-top">
                <div class="container">
                    <div class="row" style="text-align:center">
                        <div class="col-xs-12">
                            <div class="social" style="text-align:center">
                                <ul>
                                    <li class="fb pull-left"><a href="http://www.facebook.com/SizzlingMartOfficial" target="_blank"></a></li>
                                    <li class="tw pull-left"><a href="#" target="_blank"></a></li>
                                    <li class="googleplus pull-left"><a href="#" target="_blank"></a></li>
                                    <li class="pull-left"><a href="#" target="_blank"><img src="~/Content/Images/instagram.jpg" width="35" height="35" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12 coppyright"> © 2017 <a href="/Home/">SizzlingMart</a>. All Rights Reserved.</div>
                        <div class="col-sm-7 col-xs-12 company-links">
                            <ul class="links">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div> <!-- page id -->

    <div id="mobile-menu">
        <ul>
            <li>
                <div class="mm-search">
                    <div id="mob-search">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button id="mm-submit-button-search-header" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <input id="srch-term" class="form-control simple" type="text" name="search_mm" maxlength="70" value="" placeholder="Search here..">
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="home"><a href="/Home/">Home</a></div>
            </li>
            <li>
                <a href="/Products/MakeUp/">MakeUp</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/6">Face MakeUp</a>
                        <ul>
                            <li><a href="/Products/MakeUpSC/12">Foundation</a></li>
                            <li><a href="/Products/MakeUpSC/13">Powder</a></li>
                            <li><a href="/Products/MakeUpSC/14">Primer</a></li>
                            <li><a href="/Products/MakeUpSC/15">Concealer</a></li>
                            <li><a href="/Products/MakeUpSC/16">Blush</a></li>
                            <li><a href="/Products/MakeUpSC/17">Bronzer</a></li>
                            <li><a href="/Products/MakeUpSC/18">Face Make-Up Remover</a></li>
                            <li><a href="/Products/MakeUpSC/19">BB & CC Cream</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/7">Eye MakeUp</a>
                        <ul>
                            <li><a href="/Products/MakeUpSC/20">Mascara</a></li>
                            <li><a href="/Products/MakeUpSC/21">Eyeliner</a></li>
                            <li><a href="/Products/MakeUpSC/22">Eye Shadow</a></li>
                            <li><a href="/Products/MakeUpSC/23">Eye Make-Up Remover</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/8">Lips</a>
                        <ul>
                            <li><a href="/Products/MakeUpSC/24">Lipsitck</a></li>
                            <li><a href="/Products/MakeUpSC/25">Lip Gloss</a></li>
                            <li><a href="/Products/MakeUpSC/26">Lip Liner</a></li>
                            <li><a href="/Products/MakeUpSC/27">Lip Care</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/9">Nails</a>
                        <ul>
                            <li><a href="/Products/MakeUpSC/28">Nail Polish</a></li>
                            <li><a href="/Products/MakeUpSC/29">Nail Polish Remover</a></li>
                            <li><a href="/Products/MakeUpSC/30">Manicure & Pedicure</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Products/SkinCare/">SkinCare</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/12">Moisturise</a>
                        <ul>
                            <li><a href="/Products/SkinCareSC/34">Day Cream</a></li>
                            <li><a href="/Products/SkinCareSC/35">Night Cream</a></li>
                            <li><a href="/Products/SkinCareSC/36">BB & CC Cream</a></li>
                            <li><a href="/Products/SkinCareSC/37">Lip Care</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/13">Treat</a>
                        <ul>
                            <li><a href="/Products/SkinCareSC/38">Face Treatments & Serums</a></li>
                            <li><a href="/Products/SkinCareSC/39">Masks & Scrubs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/14">Sun</a>
                        <ul>
                            <li><a href="/Products/SkinCareSC/40">Sun Protectors</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Products/Clothing/">Clothing</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/1">Bridal Wears</a>
                        <ul>
                            <li><a href="/Products/ClothingSC/1">First Day</a></li>
                            <li><a href="/Products/ClothingSC/2">Second Day</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/2">Party Wears</a>
                        <ul>
                            <li><a href="/Products/ClothingSC/3">Froks</a></li>
                            <li><a href="/Products/ClothingSC/4">Maxies</a></li>
                            <li><a href="/Products/ClothingSC/5">Fancy Dresses</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/3">Casuals</a>
                        <ul>
                            <li><a href="/Products/ClothingSC/6">Suits</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/4">Replicas</a>
                        <ul>
                            <li><a href="/Products/ClothingSC/7">One Piece</a></li>
                            <li><a href="/Products/ClothingSC/8">Two Piece</a></li>
                            <li><a href="/Products/ClothingSC/9">Three Piece</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/5">Sarees</a>
                        <ul>
                            <li><a href="/Products/ClothingSC/10">Pakistani</a></li>
                            <li><a href="/Products/ClothingSC/11">Indian</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Products/Fragrance/">Fragrance</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/10">Ladies</a>
                        <ul>
                            <li><a href="/Products/FragranceSC/31">Perfumes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/11">Gents</a>
                        <ul>
                            <li><a href="/Products/FragranceSC/32">Perfumes</a></li>
                            <li><a href="/Products/FragranceSC/34">Deodorants</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Products/Jewellery/">Jewellery</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/17">Artificial</a>
                        <ul>
                            <li><a href="/Products/JewellerySC/51">Earrings</a></li>
                            <li><a href="/Products/JewellerySC/52">Bracelets</a></li>
                            <li><a href="/Products/JewellerySC/53">Necklaces</a></li>
                            <li><a href="/Products/JewellerySC/54">Rings</a></li>
                            <li><a href="/Products/JewellerySC/55">Bangles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/16">Silver</a>
                        <ul>
                            <li><a href="/Products/JewellerySC/46">Earrings</a></li>
                            <li><a href="/Products/JewellerySC/47">Bracelets</a></li>
                            <li><a href="/Products/JewellerySC/48">Necklaces</a></li>
                            <li><a href="/Products/JewellerySC/49">Rings</a></li>
                            <li><a href="/Products/JewellerySC/50">Bangles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/15">Gold</a>
                        <ul>
                            <li><a href="/Products/JewellerySC/41">Earrings</a></li>
                            <li><a href="/Products/JewellerySC/42">Bracelets</a></li>
                            <li><a href="/Products/JewellerySC/43">Necklaces</a></li>
                            <li><a href="/Products/JewellerySC/44">Rings</a></li>
                            <li><a href="/Products/JewellerySC/45">Bangles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/18">Gems</a>
                        <ul>
                            <li><a href="/Products/JewellerySC/56">Misc</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Products/Accessories/">Accessories</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/19">Beauty Tools & Brushes</a>
                        <ul>
                            <li><a href="/Products/AccessoriesSC/57">Make-Up Brushes</a></li>
                            <li><a href="/Products/AccessoriesSC/58">Manicure & Pedicure</a></li>
                            <li><a href="/Products/AccessoriesSC/59">Eyelash Curlers</a></li>
                            <li><a href="/Products/AccessoriesSC/60">Brow Tools & Tweezers</a></li>
                            <li><a href="/Products/AccessoriesSC/61">Make-Up Bags</a></li>
                            <li><a href="/Products/AccessoriesSC/62">Palettes & Value Sets</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/20">Fashion</a>
                        <ul>
                            <li><a href="/Products/AccessoriesSC/63">Bags</a></li>
                            <li><a href="/Products/AccessoriesSC/64">Purses</a></li>
                            <li><a href="/Products/AccessoriesSC/65">Scarves</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/21">Hair Tools</a>
                        <ul>
                            <li><a href="/Products/PerfumesSC/66">Brushes & Combs</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Products/Others/">Others</a>
                <ul>
                    <li>
                        <a href="/Products/ProductsBySubCategory/22">Body Care</a>
                        <ul>
                            <li><a href="/Products/OthersSC/67">Body Moisturisers</a></li>
                            <li><a href="/Products/OthersSC/68">Hand Care</a></li>
                            <li><a href="/Products/OthersSC/69">Foot Care</a></li>
                            <li><a href="/Products/OthersSC/70">Deodorants</a></li>
                            <li><a href="/Products/OthersSC/71">Anti-Perspirants</a></li>
                            <li><a href="/Products/OthersSC/72">Anti-Cellulite & Toning</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/25">Bath & Shower</a>
                        <ul>
                            <li><a href="/Products/OthersSC/74">Body Wash & Shower Gel</a></li>
                            <li><a href="/Products/OthersSC/75">Body Scrubs & Exfoliants</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/26">Hair</a>
                        <ul>
                            <li><a href="/Products/OthersSC/76">Shampoo</a></li>
                            <li><a href="/Products/OthersSC/77">Conditioner</a></li>
                            <li><a href="/Products/OthersSC/78">Styling Product</a></li>
                            <li><a href="/Products/OthersSC/79">Hair Treatments</a></li>
                            <li><a href="/Products/OthersSC/80">Hair Colors</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Products/ProductsBySubCategory/27">Sets</a>
                        <ul>
                            <li><a href="/Products/OthersSC/81">Misc</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Home/AboutUs/">About</a>
                <ul>
                    <li><a href="/Home/DeliveryInformation/">Delivery Information</a></li>
                    <li><a href="/Home/ReturnPolicy/">Return Policy</a></li>
                    <li><a href="/Home/StepsToOrder/">Steps To Order</a></li>
                    <li><a href="/Home/TermsConditions/">Terms & Conditions</a></li>
                </ul>
            </li>
        </ul>

        <div class="top-links">

            <ul class="links">
                <li><a href="/ShoppingCart/ViewCart">Sizzling Cart</a></li>
                @*<li><a href="#" id="wishlist-total" title="Wish List">Wish List</a></li>
                    <li><a href="#" title="Checkout">Checkout</a></li>
                    <li><a href="#"><span>Blog</span></a></li>*@
                @if (Session[WebUtil.CURRENT_USER] == null)
                {
                    <li class="last">
                        <a href="/Users/Login/">Login</a>
                    </li>
                    <li class="last">
                        <a href="/Users/Register/">Get Registered</a>
                    </li>
                }
                else
                {
                    <li class="links">
                        <a href="/Users/MyAccount/">Manage Account</a>
                    </li>
                    <li class="links">
                        <a href="/Users/MyOrders/@user.Id">My Orders</a>
                    </li>
                    <li class="links">
                        <a href="/WishList/CheckWishlist/@user.Id">Wishlist</a>
                    </li>
                    <li class="links">
                        <a href="/Users/Logout/">Logout</a>
                    </li>
                }
            </ul>

        </div>
    </div>

    <div id="mgkquickview">
        <div id="magikloading" style="display:none;text-align:center;margin-top:400px;">
            <img src="~/Content/catalog/view/theme/lineademo1/image/loading.gif" alt="loading">
        </div>
    </div>

    <script src="~/Content/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/common.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/common1.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="~/Content/catalog/view/theme/lineademo1/js/jquery.mobile-menu.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/theme/lineademo1/js/revslider.js"></script>
    <script src="~/Content/catalog/view/theme/lineademo1/js/cloud-zoom.js"></script>
</body>
</html>
