﻿@using SizzlingMart.Models.Product
@using SizzlingMart.Models.ViewModel
@using SizzlingMart.Models.User
@{
    TempData.Keep("CountItems");
    ViewBag.Title = "End Your Desires Here!";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    List<MinDetails> clothing = ViewBag.Clothing;
    List<MinDetails> makeup = ViewBag.MakeUp;
    List<MinDetails> perfumes = ViewBag.Perfumes;
    List<MinDetails> skincare = ViewBag.SkinCare;
    List<MinDetails> jewellery = ViewBag.Jewellery;
    List<MinDetails> accessories = ViewBag.Accessories;
    List<MinDetails> others = ViewBag.Others;
    List<MinDetails> isfeatured = ViewBag.IsFeatured;
    List<MinDetails> special = ViewBag.Special;

    float pricebfcomma;
    string pricewdcomma;
    int userid = 0;
    int fadestar2;
    int rating = 0;
}
<style>
    @@media (min-width:768px) {
        .modal-content, .modal-dialog {
            width: 850px;
        }
    }
</style>

<div>
    <div id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-4 col-sm-3 hidden-xs">
                    @*<div>
                            <div class="side-banner"><img src="~/Content/Images/WebImages/SidePic1.jpg" alt="banner"></div>
                        </div>*@
                    <div class="featured-add-box">
                        <div class="featured-add-inner">
                            <a href="/Products/Replicas/"> <img src="~/Content/Images/WebImages/SidePic1.jpg" alt="Replicas"></a>
                            <div class="banner-content">
                                <div class="banner-text1">Replica</div>
                                <div class="banner-text">COLLTECTION</div>
                                <p>. . .</p>
                                <a href="/Products/Replicas/" class="view-bnt">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-xs" style="margin-top:20px;"></div>
                <div id="alertmessage"></div>
                @if (TempData["OrderConfirmationMessage"] != null)
                {
                    <div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i> @TempData["OrderConfirmationMessage"]<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>
                }
                <div class="col-md-9 col-sm-9 col-xs-12 home-slider">
                    <div id="magik-slideshow" class="magik-slideshow slider-block">
                        <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                                <ul>
                                    <li id="ms0" data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/Images/WebImages/Slider0.jpg'>
                                        <img src='/Content/Images/WebImages/Slider0.jpg' alt="SizzlingMart" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />

                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>Sizzling Mart</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>Kanavez</span> </div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Kanavez Brand is now available on SizzlingMart.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='/Products/BridalWears/' class="buy-btn">Shop Now</a> </div>
                                        </div>
                                    </li>

                                    <li id="ms1" data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/Images/WebImages/Slider2.jpg'>
                                        <img src='/Content/Images/WebImages/Slider2.jpg' alt="Sizzling Mart" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />

                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px'><span>End Your Desires Here</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Party Wears</div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Be in spotlight with Sizzling Party dresses.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='/Products/PartyWears/' class="buy-btn">Buy Now</a> </div>
                                        </div>
                                    </li>

                                    <li id="ms2" data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/Images/WebImages/Slider5.jpg'>
                                        <img src='/Content/Images/WebImages/Slider5.jpg' alt="Sizzling Mart" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />

                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px'><span>Sizzling Mart</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Indian Sarees</div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Indian Sarees are the best choice for Classic look.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='/Products/Sarees/' class="buy-btn">Buy Now</a> </div>
                                        </div>
                                    </li>

                                    <li id="ms3" data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/Images/WebImages/Slider6.jpg'>
                                        <img src='/Content/Images/WebImages/Slider6.jpg' alt="Sizzling Mart" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />

                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px'><span>End Your Desires Here</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Jewellery</div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>On this Wedding Season<br />Embellish yourself with Sizzling Jewellery<br />and Gems.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='/Products/Jewellery/' class="buy-btn">Buy Now</a> </div>
                                        </div>
                                    </li>

                                    <li id="ms4" data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/Images/WebImages/Slider1.jpg'>
                                        <img src='/Content/Images/WebImages/Slider1.jpg' alt="SizzlingMart" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />

                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>Sizzling Mart</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>Bridal Wears</span> </div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Elegant and Sizzling Bridal dresses for all Brides to be.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='/Products/BridalWears/' class="buy-btn">Shop Now</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- rev_slider_4 -->
                        </div><!-- rev_slider_4_wrapper --><!-- rev_slider_4_wrapper -->
                    </div>
                    <script type='text/javascript'>
                        jQuery(document).ready(function () {
                            jQuery('#rev_slider_4').show().revolution({
                                dottedOverlay: 'none',
                                delay: 5000,
                                startwidth: 850,
                                startheight: 445,
                                hideThumbs: 200,
                                thumbWidth: 200,
                                thumbHeight: 50,
                                thumbAmount: 2,
                                navigationType: 'thumb',
                                navigationArrows: 'solo',
                                navigationStyle: 'round',
                                touchenabled: 'on',
                                onHoverStop: 'on',
                                swipe_velocity: 0.7,
                                swipe_min_touches: 1,
                                swipe_max_touches: 1,
                                drag_block_vertical: false,
                                spinner: 'spinner0',
                                keyboardNavigation: 'off',
                                navigationHAlign: 'center',
                                navigationVAlign: 'bottom',
                                navigationHOffset: 0,
                                navigationVOffset: 20,
                                soloArrowLeftHalign: 'left',
                                soloArrowLeftValign: 'center',
                                soloArrowLeftHOffset: 20,
                                soloArrowLeftVOffset: 0,
                                soloArrowRightHalign: 'right',
                                soloArrowRightValign: 'center',
                                soloArrowRightHOffset: 20,
                                soloArrowRightVOffset: 0,
                                shadow: 0,
                                fullWidth: 'on',
                                fullScreen: 'off',
                                stopLoop: 'off',
                                stopAfterLoops: -1,
                                stopAtSlide: -1,
                                shuffle: 'off',
                                autoHeight: 'off',
                                forceFullWidth: 'on',
                                fullScreenAlignForce: 'off',
                                minFullScreenHeight: 0,
                                hideNavDelayOnMobile: 1500,
                                hideThumbsOnMobile: 'off',
                                hideBulletsOnMobile: 'off',
                                hideArrowsOnMobile: 'off',
                                hideThumbsUnderResolution: 0,
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                startWithSlide: 0,
                                fullScreenOffsetContainer: ''
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <section class="main-container col2-left-layout">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-sm-push-3">
                        @*<div>
                                <div class="promotion-banner">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-5"><a href="#"><img alt="" src="~/Content/catalog/view/theme/lineademo1/image/home-banner1.jpg"></a></div>
                                        <div class="col-lg-7 col-sm-7"><a href="#"><img alt="" src="~/Content/catalog/view/theme/lineademo1/image/home-banner2.jpg"></a></div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="content-page">
                            <!-- featured category fashion -->
                            <div class="category-product">
                                <div class="navbar nav-menu">
                                    <div class="navbar-collapse">
                                        <div class="new_title">
                                            <h2>New Items</h2>
                                        </div>
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a data-toggle="tab" href="#tab-1">Makeup</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-2">Skin Care</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-3">Clothing</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-4">Perfumes</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-5">Jewellery</a></li>
                                            @*<li class=""><a data-toggle="tab" href="#tab-6">Accessories</a></li>*@
                                            @*<li class=""><a data-toggle="tab" href="#tab-7">Others</a></li>*@
                                        </ul>
                                    </div>
                                    <!-- /.navbar-collapse -->

                                </div>
                                <div class="product-bestseller">
                                    <div class="product-bestseller-content">
                                        <div class="product-bestseller-list">
                                            <div class="tab-container">
                                                <div class="tab-panel active" id="tab-1">
                                                    <div class="category-products" style="text-align:center">
                                                        <ul class="products-grid" style="text-align:center">
                                                            @foreach (var b in makeup)
                                                            {
                                                                <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                                    <div class="item-inner" style="text-align:center">

                                                                        <div class="item-img">
                                                                            <div class="item-img-info">
                                                                                <a class="product-image" href="/Products/ProductDetails/@b.Id" title="@b.Name">
                                                                                    <img src="@Url.Content(b.ImageUrl)" alt="@b.Name" title="@b.Name" />
                                                                                </a>
                                                                                <div class="sale-label sale-top-right">New</div>
                                                                                <div class="box-hover" style="text-align:center">
                                                                                    <ul class="add-to-links" style="text-align:center">
                                                                                        <li>
                                                                                            <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-info">
                                                                            <div class="info-inner">
                                                                                <div class="item-title">
                                                                                    <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                                        @b.MiniTitle...
                                                                                    </a>
                                                                                </div>
                                                                                <div class="item-content">
                                                                                    <div class="rating">
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                @{
                                                                                                    rating = ProductHandler.GetRating(b.Id);
                                                                                                    fadestar2 = 5 - rating;
                                                                                                }
                                                                                                @for (int i = 1; i <= rating; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                                }
                                                                                                @for (int i = 1; i <= fadestar2; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div><!-- rating -->
                                                                                    <div class="item-price">
                                                                                        <div class="price-box">
                                                                                            @{
                                                                                                pricebfcomma = b.Price;
                                                                                                pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                            }
                                                                                            @*<p class="old-price"><span class="price">$100.00</span></p>*@
                                                                                            <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="action">
                                                                                        <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>  <!-- End Item info -->
                                                                    </div>  <!-- End  Item inner-->
                                                                </li>
                                                                                                }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-panel" id="tab-2">
                                                    <div class="category-products" style="text-align:center">
                                                        <ul class="products-grid" style="text-align:center">
                                                            @foreach (var b in skincare)
                                                            {
                                                                <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                                    <div class="item-inner" style="text-align:center">

                                                                        <div class="item-img">
                                                                            <div class="item-img-info">
                                                                                <a class="product-image" href="/Products/ProductDetails/@b.Id" title="@b.Name">
                                                                                    <img src="@Url.Content(b.ImageUrl)" alt="@b.Name" title="@b.Name" />
                                                                                </a>
                                                                                <div class="sale-label sale-top-right">New</div>
                                                                                <div class="box-hover" style="text-align:center">
                                                                                    <ul class="add-to-links" style="text-align:center">
                                                                                        <li>
                                                                                            <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-info">
                                                                            <div class="info-inner">
                                                                                <div class="item-title">
                                                                                    <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                                        @b.MiniTitle...
                                                                                    </a>
                                                                                </div>
                                                                                <div class="item-content">
                                                                                    <div class="rating">
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                @{
                                                                                                    rating = ProductHandler.GetRating(b.Id);
                                                                                                    fadestar2 = 5 - rating;
                                                                                                }
                                                                                                @for (int i = 1; i <= rating; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                                }
                                                                                                @for (int i = 1; i <= fadestar2; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div><!-- rating -->
                                                                                    <div class="item-price">
                                                                                        <div class="price-box">
                                                                                            @{
                                                                                                pricebfcomma = b.Price;
                                                                                                pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                            }
                                                                                            @*<p class="old-price"><span class="price">$100.00</span></p>*@
                                                                                            <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="action">
                                                                                        <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>  <!-- End Item info -->
                                                                    </div>  <!-- End  Item inner-->
                                                                </li>
                                                                                                }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-panel" id="tab-3">
                                                    <div class="category-products">
                                                        <ul class="products-grid">
                                                            @foreach (var b in clothing)
                                                            {
                                                                <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                                    <div class="item-inner">

                                                                        <div class="item-img">
                                                                            <div class="item-img-info">
                                                                                <a class="product-image" href="/Products/ProductDetails/@b.Id" title="@b.Name">
                                                                                    <img src="@Url.Content(b.ImageUrl)" alt="@b.Name" title="@b.Name" />
                                                                                </a>
                                                                                <div class="box-hover">
                                                                                    <ul class="add-to-links">
                                                                                        <li>
                                                                                            <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-info">
                                                                            <div class="info-inner">
                                                                                <div class="item-title">
                                                                                    <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                                        @b.MiniTitle...
                                                                                    </a>
                                                                                </div>
                                                                                <div class="item-content">
                                                                                    <div class="rating">
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                @{
                                                                                                    rating = ProductHandler.GetRating(b.Id);
                                                                                                    fadestar2 = 5 - rating;
                                                                                                }
                                                                                                @for (int i = 1; i <= rating; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                                }
                                                                                                @for (int i = 1; i <= fadestar2; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div><!-- rating -->
                                                                                    <div class="item-price">
                                                                                        <div class="price-box">
                                                                                            @{
                                                                                                pricebfcomma = b.Price;
                                                                                                pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                            }
                                                                                            <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="action">
                                                                                        <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>  <!-- End Item info -->
                                                                    </div>  <!-- End  Item inner-->
                                                                </li>
                                                                                                }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-panel " id="tab-4">
                                                    <div class="category-products">
                                                        <ul class="products-grid">
                                                            @foreach (var b in perfumes)
                                                            {
                                                                <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                                    <div class="item-inner">
                                                                        <div class="item-img">
                                                                            <div class="item-img-info">
                                                                                <a class="product-image" href="/Products/ProductDetails/@b.Id" title="@b.Name">
                                                                                    <img src="@Url.Content(b.ImageUrl)" alt="@b.Name" title="@b.Name" />
                                                                                </a>
                                                                                <div class="box-hover">
                                                                                    <ul class="add-to-links">
                                                                                        <li>
                                                                                            <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-info">
                                                                            <div class="info-inner">
                                                                                <div class="item-title">
                                                                                    <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                                        @b.MiniTitle...
                                                                                    </a>
                                                                                </div>
                                                                                <div class="item-content">
                                                                                    <div class="rating">
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                @{
                                                                                                    rating = ProductHandler.GetRating(b.Id);
                                                                                                    fadestar2 = 5 - rating;
                                                                                                }
                                                                                                @for (int i = 1; i <= rating; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                                }
                                                                                                @for (int i = 1; i <= fadestar2; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div><!-- rating -->
                                                                                    <div class="item-price">
                                                                                        <div class="price-box">
                                                                                            @{
                                                                                                pricebfcomma = b.Price;
                                                                                                pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                            }
                                                                                            <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="action">
                                                                                        <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>  <!-- End Item info -->
                                                                    </div>  <!-- End  Item inner-->
                                                                </li>
                                                                                                }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-panel " id="tab-5">
                                                    <div class="category-products">
                                                        <ul class="products-grid">
                                                            @foreach (var b in jewellery)
                                                            {
                                                                <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                                    <div class="item-inner">
                                                                        <div class="item-img">
                                                                            <div class="item-img-info">
                                                                                <a class="product-image" href="/Products/ProductDetails/@b.Id" title="@b.Name">
                                                                                    <img src="@Url.Content(b.ImageUrl)" alt="@b.Name" title="@b.Name" />
                                                                                </a>
                                                                                <div class="box-hover">
                                                                                    <ul class="add-to-links">
                                                                                        <li>
                                                                                            <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-info">
                                                                            <div class="info-inner">
                                                                                <div class="item-title">
                                                                                    <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                                        @b.MiniTitle...
                                                                                    </a>
                                                                                </div>
                                                                                <div class="item-content">
                                                                                    <div class="rating">
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                @{
                                                                                                    rating = ProductHandler.GetRating(b.Id);
                                                                                                    fadestar2 = 5 - rating;
                                                                                                }
                                                                                                @for (int i = 1; i <= rating; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                                }
                                                                                                @for (int i = 1; i <= fadestar2; i++)
                                                                                                {
                                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div><!-- rating -->

                                                                                    <div class="item-price">
                                                                                        <div class="price-box">
                                                                                            @{
                                                                                                pricebfcomma = b.Price;
                                                                                                pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                            }
                                                                                            <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="action">
                                                                                        <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>  <!-- End Item info -->
                                                                    </div>  <!-- End  Item inner-->
                                                                </li>
                                                                                                }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bestsell-pro">
                            <div>
                                <div class="slider-items-products">
                                    <div class="bestsell-block">
                                        <div class="block-title">
                                            <h2>Accessories</h2>
                                        </div>
                                        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col4 products-grid block-content">
                                                <!-- Item -->
                                                @foreach (var b in accessories)
                                                {
                                                    <div class="item">
                                                        <div class="item-inner">
                                                            <div class="item-img">
                                                                <div class="item-img-info">
                                                                    <a class="product-image" href="/Products/ProductDetails/@b.Id" title="@b.Name">
                                                                        <img src="@Url.Content(b.ImageUrl)" alt="@b.Name" title="@b.Name" />
                                                                    </a>
                                                                    <div class="box-hover">
                                                                        <ul class="add-to-links">
                                                                            <li>
                                                                                <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                            </li>

                                                                            <li>
                                                                                <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                            </li>

                                                                            <li>
                                                                                <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title">
                                                                        <a title="Casual Sleeveless Solid Women's Top" href="/Products/ProductDetails/@b.Id">
                                                                            @b.MiniTitle
                                                                        </a>
                                                                    </div>
                                                                    <div class="rating">
                                                                        <div class="ratings">
                                                                            <div class="rating-box">
                                                                                @{
                                                                                    rating = ProductHandler.GetRating(b.Id);
                                                                                    fadestar2 = 5 - rating;
                                                                                }
                                                                                @for (int i = 1; i <= rating; i++)
                                                                                {
                                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                                }
                                                                                @for (int i = 1; i <= fadestar2; i++)
                                                                                {
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- rating -->
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box">
                                                                                @{
                                                                                    pricebfcomma = b.Price;
                                                                                    pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                                }
                                                                                <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="action">
                                                                            <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>  <!-- End Item info -->
                                                        </div>  <!-- End  Item inner-->
                                                    </div>
                                                                                    }
                                                <!-- End Item -->
                                            </div>
                                        </div>    <!-- featured -->
                                    </div>
                                </div>    <!-- slider Item products -->
                            </div>
                        </div>
                        
                        <div class="featured-pro-block">
                            <div class="slider-items-products">
                                <div class="new-arrivals-block">
                                    <div class="block-title">
                                        <h2>Featured Products</h2>
                                    </div>
                                    <div id="new-arrivals-slider" class="product-flexslider hidden-buttons">
                                        <div class="home-block-inner"> </div>
                                        <div class="slider-items slider-width-col4 products-grid block-content">
                                            <!-- Item -->
                                            @foreach (var b in isfeatured)
                                            {
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a class="product-image" href="/Products/ProductDetails/@b.Id" title=@b.Name>
                                                                    <img src="@Url.Content(b.ImageUrl)" alt=@b.Name title=@b.Name />
                                                                </a>
                                                                <div class="box-hover">
                                                                    <ul class="add-to-links">
                                                                        <li>
                                                                            <a class="detaillink" title="Quick View" href="/Products/Details/@b.Id" data-action="details" data-name="@b.Name"></a>
                                                                        </li>

                                                                        <li>
                                                                            <a class="addtowishlist" title="Wishlist" @*href="/WishList/AddToWishList/@b.Id"*@ data-action="wishlist" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                        </li>

                                                                        <li>
                                                                            <a class="givereviews" title="Review" data-pid="@b.Id" data-pname="@b.Name"></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="@b.Name" href="/Products/ProductDetails/@b.Id">
                                                                        @b.MiniTitle
                                                                    </a>
                                                                </div>
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            @{
                                                                                rating = ProductHandler.GetRating(b.Id);
                                                                                fadestar2 = 5 - rating;
                                                                            }
                                                                            @for (int i = 1; i <= rating; i++)
                                                                            {
                                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                            }
                                                                            @for (int i = 1; i <= fadestar2; i++)
                                                                            {
                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div><!-- rating -->
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            @{
                                                                                pricebfcomma = b.Price;
                                                                                pricewdcomma = pricebfcomma.ToString("#,##0");
                                                                            }
                                                                            <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="action">
                                                                        <button type="button" title="" data-pid="@b.Id" data-pname="@b.Name" data-pprice="@b.Price" data-purl="@Url.Content(b.ImageUrl)" data-pqty="1" data-original-title="Add to Cart" class="button btn-cart link-cart addtocart"><span>Add to Cart</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>  <!-- End Item info -->
                                                    </div>  <!-- End  Item inner-->
                                                </div>
                                             }
                                            <!-- End Item -->
                                        </div>
                                    </div>    <!-- featured -->
                                </div>
                            </div>  <!-- slider Item products -->
                        </div>
                    </div>

                    <aside id="column-left" class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                        <div class="panel panel-default special-products">
                            <div class="panel-heading">Specials</div>
                            @foreach (var item in special)
                            {
                                <div class="product-layout">
                                    <div class="product-thumb transition">
                                        <div class="image"><a href="/Products/ProductDetails/@item.Id"><img src="@Url.Content(item.ImageUrl)" alt="@item.Name" title="@item.Name" class="img-responsive" /></a></div>
                                        <div class="caption item-info info-inner item-title">
                                            <p><a href="/Products/ProductDetails/@item.Id"><b>@item.Name</b></a></p>
                                            <div class="price-box">
                                                @{
                                                    pricebfcomma = item.Price;
                                                    pricewdcomma = pricebfcomma.ToString("#,##0");
                                                }
                                                <p class="regular-price"><span class="price">PKR: @pricewdcomma/-</span></p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            }
                            
                        </div>   
                        
                    </aside>
                </div>
            </div>
        </section>
        <!-- Modal Popup -->
        <section class="modal" id="dialogsec" tabindex="-1" role="dialog" aria-labelledby="dialogsec-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dialogsec-title"></h4>
                    </div>
                    <div id="dialogsec-body" style="padding:15px;">
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
            $.ajax(
                {
                    url: "/ShoppingCart/CartCounter",
                    type: "get"
                }
            ).done(function (result) {
                $("#showresult").html(result);
                });

            $(document).ready(function () {
                jQuery('.mega-menu-category').slideUp();

            });

            $(".addtowishlist").click(function (event) {
                event.preventDefault();
                var pid = $(this).data("pid");
                var pname = $(this).data("pname");
                var uid;
                @{
                    if (Session[WebUtil.CURRENT_USER] != null)
                    {
                        User user = ((User)Session[WebUtil.CURRENT_USER]);
                        userid = user.Id;
                    }
                }

                if (@userid != 0) {
                    uid = @userid;
                    $.ajax(
                        {
                            type: "POST",
                            url: "/WishList/AddToWishlist/",
                            contentType: "application/json; charset=utf-8",
                            data: { PID: pid, UID: uid },
                            dataType: "json",
                            success: function (data) {
                                if (data == 1) {
                                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b><a href="/Products/ProductDetails/' + pid + '"</a>' + pname + '</b> into your <a href="/WishList/CheckWishlist/' + uid + '"><b>WishList</b></a>.<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                                } else {
                                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! <b><a href="/Products/ProductDetails/'+ pid + '"</a>' + pname + '</b> is already in your <a href="/WishList/CheckWishlist/' + uid + '"><b>WishList</b></a>.<button type="button" class="close" data-dismiss="alert">&times;</button></div ></div > ');
                                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                                }

                            },
                            error: function (data) {
                                if (data == 0) {
                                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + '<b> Warning!</b> Sorry for the inconvenience, please try again later.<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                                }
                            },
                        });
                }
                else {
                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + '<b> Warning!</b> Please <a href="/Users/Login/">Login</a> or <a href="/Users/Register/">Register</a> to add <a href="/Products/ProductDetails/' + pid + '">' + pname + '</a> into your Wishlist.<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                }
            });


            $(".givereviews").click(function (event) {
                    var pid = $(this).data("pid");
                    var pname = $(this).data("pname");
                    $.ajax(
                        {
                            url: "/Products/GiveReview/" + pid,
                            type: "get"
                        }
                    ).done(function (result) {
                        $("#dialogsec-title").html(pname);
                        $("#dialogsec-body").html(result);
                        $("#dialogsec").modal();
                    });
                });

            $(".addtocart").click(function () {

                var pid = $(this).data("pid");
                var pname = $(this).data("pname");
                var pquantity = 1;
                $.ajax(
                    {
                        url: "/ShoppingCart/AddToCart/",
                        data: { Itemid: pid, ItemQuantity: pquantity },
                        //data: { ItemName: pname },
                        //data: { ItemPrice: pprice },
                        //data: { ItemImage: pimage },
                        //data: { ItemQuantity: pquantity },
                        type: "post",
                    }
                ).done(function (result) {
                    $("#showresult").html(result);
                    $("#alertmessage").html('<div class="container col-sm-9" id="alertmessage"><div class="alert alert-success"><i class="fa fa-check-circle"></i>' + ' Success! You have added <b>' + pname + '</b> into your Sizzling Cart!<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                    //$("#alertmessage").delay(2000).hide("slow");
                });
                });

            $(".detaillink").click(function (event) {
                event.preventDefault();
                var elt = $(this);
                $.ajax(
                    {
                        url: elt.attr("href"),
                        type: "get"
                    }
                ).done(function (result) {
                    $("#dialogsec-title").html("Summary");
                    $("#dialogsec-body").html(result);
                    $("#dialogsec").modal();
                });
            });
        </script>
    </div>
</div>
